<admin-menu endpoint="users"></admin-menu>
<div class="row">
  <div class="col-xs-12 col-sm-8 col-md-6">
    <form ng-submit="$ctrl.update()" novalidate>
      <div class="form-group">
        <label class="control-label" for="userName">Name</label>
        <input id="userName"
               type="text"
               name="userName"
               class="form-control"
               ng-model="$ctrl.user.name"
               required>
      </div>
      <div class="form-group">
        <label class="control-label" for="userPassword">Password</label>
        <input id="userPassword"
               type="password"
               class="form-control"
               name="userPassword"
               ng-model="$ctrl.user.password">
      </div>
      <div class="form-group">
        <label class="control-label" for="userPassword2">
          Repeat Password
        </label>
        <input id="userPassword2"
               class="form-control"
               type="password"
               name="userPassword2"
               ng-model="password"
               compare-to="$ctrl.user.password">
      </div>
      <div class="form-group">
        <label for="user-team" class="control-label">Team</label>
        <select id="user-team"
                class="form-control"
                name="userTeam"
                ng-options="team.id as team.name for team in $ctrl.teams"
                ng-model="$ctrl.user.team.id">
        </select>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"
                 ng-checked="$ctrl.user.role === 'admin'"
                 ng-click="$ctrl.toggleRole()"> Admin
        </label>
      </div>
      <button type="submit" class="btn btn-primary">Update</button>
      <button type="submit" class="btn btn-default" ui-sref="adminUsers">Cancel</button>
    </form>
  </div>
</div>

