<div class="row">
  <div class="col-xs-12 col-sm-8 col-md-6">
    <h2>Create a user:</h2>
    <form ng-submit="$ctrl.create()" novalidate>
      <div class="form-group">
        <label class="control-label" for="userName">Name</label>
        <input id="userName"
               type="text"
               name="userName"
               class="form-control"
               ng-model="$ctrl.user.name"
               required>
      </div>
      <div class="form-group">
        <label class="control-label" for="userPassword">Password</label>
        <input id="userPassword"
               type="password"
               class="form-control"
               name="userPassword"
               ng-model="$ctrl.user.password">
      </div>
      <div class="form-group">
        <label for="selectTeam" class="control-label">Team</label>
        <select id="selectTeam"  name="selectTeam" class="form-control"
                ng-model="$ctrl.user.team_id">
          <option ng-repeat="team in $ctrl.teams" value="{{team.id}}">{{team.name}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="selectRole" class="control-label">Role</label>
        <select id="selectRole" name="selectRole" class="form-control"
                ng-model="$ctrl.user.role_id">
          <option ng-repeat="role in $ctrl.roles" value="{{role.id}}">{{role.name}}</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Create</button>
    </form>
  </div>
</div>

