<div ui-view>
  <h1 class="page-header">Global status</h1>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Topic</th><th>ID</th><th>Label</th><th class="text-center">Created At</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat-start="topic in topics | orderBy: 'name'">
      <td><a ui-sref="gpanel.topic({id: topic.id})">{{topic.name}}</a></td>
      <td>{{topic.id}}</td>
      <td>{{topic.label}}</td>
      <td class="text-center">{{topic.created_at}}</td>
    </tr>
    <tr ng-repeat-end>
      <td colspan="4">
        <table class="table">
          <thead>
              <th>Team</th><th>Remote CI</th><th>Status</th><th>Job Id</th><th>Last Run</th>
          </thead>
          <tbody>
            <tr class="{{ job.state }}" ng-repeat="job in topic.jobs">
              <td>{{ job.team_name }}</td>
              <td>{{ job.remoteci_name }}</td>
              <td>{{ job.job_status || "Not run yet" }}</td>
              <td ng-if="!job.job_id">N/A</td>
              <td ng-if="job.job_id">
                <a ui-sref="job.results({id: job.job_id})"  class="title">
                  {{job.job_id}}
                </a>
              </td>
              <td>{{ job.job_created_at || "N/A" }}</td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    </tbody>
  </table>
</div>
