<h1 class="page-header">Global status for topic {{ topic.name }} of type {{ componentType }}</h1>

<table class="table">
  <tr>
    <th>Job Types</th>
    <th>Job Definitions</th>
  </tr>
  <tr ng-repeat-start="component in components">
    <td rowspan="{{ jobdefs.length }}" class="col-md-4">{{component.name}}</td>
    <td>
      <b>{{jobdefs[0].name}}</b>
      <ul class="list-inline">
        <li ng-repeat="(s, jobs) in (jobs[component.id][jobdefs[0].id])" ng-click="collapse(jobs, jobdefs[0], s)">
          <a href="" ng-class="status(s)">{{ jobs.length }} {{ s }}</a>
        </li>
        <li ng-if="!jobs[component.id][jobdefs[0].id]">
          <span class="label label-default">0 N/A</span>
        </li>
      </ul>
      <div uib-collapse="!jobdefs[0].display">
        <table class="table">
          <thead>
            <th>Created at</th>
            <th>Updated at</th>
            <th>Message</th>
          </thead>
          <tbody>
            <tr ng-repeat="job in jobs_">
              <td>{{job.created_at}}</td> <td>{{job.updated_at}}</td> <td>{{job.comment}}</td>
            </tr>
          </tbody>
        </table>
			</div>
    </td>
  </tr>
  <tr ng-repeat-end ng-repeat="jobdef in jobdefs" ng-if="!$first">
    <td>
      <b>{{jobdef.name}}</b>
      <ul class="list-inline">
        <li ng-repeat="(s, jobs) in jobs[component.id][jobdef.id]" ng-click="collapse(jobs, jobdef, s)">
          <a href="" ng-class="status(s)">{{ jobs.length }} {{ s }}</a>
        </li>
        <li ng-if="!jobs[component.id][jobdef.id]">
          <span class="label label-default">0 N/A</span>
        </li>
      </ul>
      <div uib-collapse="!jobdef.display">
        <table class="table">
          <thead>
            <th>Created at</th>
            <th>Updated at</th>
            <th>Message</th>
          </thead>
          <tbody>
            <tr ng-repeat="job in jobs_">
              <td>{{job.created_at}}</td> <td>{{job.updated_at}}</td> <td>{{job.comment}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </td>
  </tr>
</table>
