<h1 class="page-header">Global status for topic {{ topic.name }} of type {{ componentType }}</h1>

<table class="table">
  <tr>
    <th>Job Types</th>
    <th>Job Definitions</th>
  </tr>
  <tr ng-repeat-start="component in components">
    <td rowspan="{{jobdefs.length}}" class="col-md-2">{{component.name}}</td>
    <td>
      <b>{{jobdefs[0].name}}</b>
      <uib-tabset type="pills">
        <uib-tab ng-repeat="(key, values) in (jobs[component.id][jobdefs[0].id])" heading="{{values.length}} {{key}}" classes="ng-class: status(key);">
          <table class="table">
            <thead>
              <th>Created at</th>
              <th>Updated at</th>
              <th>Message</th>
            </thead>
            <tbody>
              <tr ng-repeat="item in values">
                <td>{{item.created_at}}</td> <td>{{item.updated_at}}</td> <td>{{item.comment}}</td>
              </tr>
            </tbody>
          </table>
        </uib-tab>
        <uib-tab ng-if="!jobs[component.id][jobdefs[0].id]" disable="true" heading="0 N/A"></uib-tab>
      </uib-tabset>
      </ul>
    </td>
  </tr>

  <tr ng-repeat-end ng-repeat="jobdef in jobdefs" ng-if="!$first">
    <td>
      <b>{{jobdef.name}}</b>
      <uib-tabset type="pills">
        <uib-tab ng-repeat="(key, values) in jobs[component.id][jobdef.id]" heading="{{values.length}} {{key}}" classes="ng-class: status(key);">
          <table class="table">
            <thead>
              <th>Created at</th>
              <th>Updated at</th>
              <th>Message</th>
            </thead>
            <tbody>
              <tr ng-repeat="item in values">
                <td>{{item.created_at}}</td> <td>{{item.updated_at}}</td> <td>{{item.comment}}</td>
              </tr>
            </tbody>
          </table>
        </uib-tab>
        <uib-tab ng-if="!jobs[component.id][jobdef.id]" disable="true" heading="0 N/A"></uib-tab>
      </uib-tabset>
    </td>
  </tr>

</table>
