<dci-title title="Global Status"></dci-title>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <dci-loading ng-if="$ctrl.loading"></dci-loading>
      <div ng-hide="$ctrl.loading">
          <div class="row">
            <div class="col-xs-12">
                <div class="global-status__summary">
                  <div class="global-status__item text-center"
                      ng-if="topic.jobs.length > 0"
                      ng-repeat="topic in $ctrl.topics | orderBy: 'order'"
                      ng-class="{
                        'global-status__item--danger':topic.percentageErrors > 50,
                        'global-status__item--success':   topic.percentageErrors <= 50
                        }">
                      <h3>
                        <i class="fa fa-warning" ng-if="topic.percentageErrors > 75"></i>
                        {{topic.name}}
                      </h3>
                      <p class="global-status__body">
                        <span>
                          {{100 - topic.percentageErrors}}% success
                        </span>
                      </p>
                  </div>
                </div>
            </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div ng-repeat="topic in $ctrl.topics | orderBy: 'order'" ng-if="topic.jobs.length > 0">
              <h2><a ui-sref="topic({id: topic.id})">{{topic.name}}</a></h2>
              <br>
              <table class="table table-bordered">
                <thead>
                <th>Team</th>
                <th>Remote CI</th>
                <th>Component Name</th>
                <th>Status</th>
                <th>Job Id</th>
                <th>Last Run</th>
                </thead>
                <tbody>
                <tr ng-repeat="job in topic.jobs" ng-class="$ctrl.getJobStatusClass(job.job_status)">
                  <td>{{ job.team_name }}</td>
                  <td>{{ job.remoteci_name }}</td>
                  <td>{{ job.component_name }}</td>
                  <td>{{ job.job_status || "Not run yet" }}</td>
                  <td ng-if="!job.job_id">N/A</td>
                  <td ng-if="job.job_id">
                    <a ui-sref="auth.job.jobStates({id: job.job_id})" class="title">
                      {{job.job_id}}
                    </a>
                  </td>
                  <td>{{ job.job_created_at || "N/A" }}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
