<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="page-header">
        <h1>Settings:</h1>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="page-header">
        <h1>Password:</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <settings-change-form
        user="$ctrl.user"
        on-success="$ctrl.settingsChangedSuccessfully(message)"
        on-error="$ctrl.onError(message)"></settings-change-form>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-md-offset-2">
      <password-change-form
        user="$ctrl.user"
        on-success="$ctrl.passwordChangedSuccessfully(message)"
        on-error="$ctrl.onError(message)"></password-change-form>
    </div>
  </div>
</div>
