<div>
  <div class="form-group">
    <label class="control-label" for="userName">Login</label>
    <input id="userName"
           name="userName"
           class="form-control"
           ng-model="$ctrl.user.name"
           required>
  </div>
  <div class="form-group">
    <label class="control-label" for="fullName">Full name</label>
    <input id="fullName"
           name="fullName"
           class="form-control"
           ng-model="$ctrl.user.fullname"
           required>
  </div>
  <div class="form-group">
    <label class="control-label" for="email">Email</label>
    <input id="email"
           type="email"
           name="email"
           class="form-control"
           ng-model="$ctrl.user.email"
           required>
  </div>
  <div class="form-group">
    <label class="control-label" for="userPassword">Password</label>
    <input id="userPassword"
           type="password"
           class="form-control"
           name="userPassword"
           ng-model="$ctrl.user.password">
  </div>
  <div class="form-group">
    <label for="selectTeam" class="control-label">Team</label>
    <select id="selectTeam" name="selectTeam" class="form-control"
            ng-model="$ctrl.user.team_id" required>
      <option ng-repeat="team in $ctrl.teams.items" value="{{team.id}}">{{team.name}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="selectRole" class="control-label">Role</label>
    <select id="selectRole" name="selectRole" class="form-control"
            ng-model="$ctrl.user.role_id" required>
      <option ng-repeat="role in $ctrl.roles.items" value="{{role.id}}">{{role.name}}</option>
    </select>
  </div>
</div>
