<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="page-header">
        Topics
        <a class="pull-right btn btn-primary"
           id="topics__create-topic-btn"
           ui-sref="auth.topicCreate"
           ng-if="$ctrl.currentUser.isSuperAdminOrProductOwner">
          <i class="fa fa-plus-circle"></i> create new topic
        </a>
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <dci-loading ng-if="$ctrl.loading"></dci-loading>
      <div ng-hide="$ctrl.loading">
        <div class="row">
          <div class="col-xs-12">
            <table class="table table-striped table-bordered table-hover">
              <thead>
              <tr>
                <th>
                  Topic name
                </th>
                <th>
                  ID
                </th>
                <th ng-if="$ctrl.currentUser.isSuperAdminOrProductOwner">
                  Next Topic
                </th>
                <th>
                  Product
                </th>
                <th>
                  Created At
                </th>
                <th class="text-center" ng-if="$ctrl.currentUser.isSuperAdminOrProductOwner">
                  Actions
                </th>
              </tr>
              </thead>
              <tr ng-if="$ctrl.topics.length === 0">
                <td colspan="4">
                  There is no topic.
                  <a ui-sref="auth.topicCreate">Do you want to create one?</a>
                </td>
              </tr>
              <tr ng-repeat="topic in $ctrl.topics | orderBy: 'name'">
                <td>
                  <a ng-if="$ctrl.currentUser.isSuperAdminOrProductOwner"
                     ui-sref="auth.topicEdit({id: topic.id})">
                    {{topic.name}}
                  </a>
                  <span ng-hide="$ctrl.currentUser.isSuperAdminOrProductOwner">
                    {{topic.name}}
                  </span>
                </td>
                <td>
                  {{topic.id}}
                </td>
                <td ng-if="$ctrl.currentUser.isSuperAdminOrProductOwner">
                  <a ui-sref="auth.topicEdit({id: topic.next_topic})">
                    {{topic.nexttopic.name}}
                  </a>
                </td>
                <td>
                  {{topic.product.name}}
                </td>
                <td>
                  {{topic.created_at | dciDate}}
                </td>
                <td class="text-center"
                    ng-if="$ctrl.currentUser.isSuperAdminOrProductOwner">
                  <a class="btn btn-primary btn-sm btn-edit"
                     ui-sref="auth.topicEdit({id: topic.id})">
                    <i class="fa fa-pencil"></i>
                  </a>
                  <button type="button"
                          class="btn btn-danger btn-sm"
                          ng-click="$ctrl.deleteTopic(topic)">
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
