<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="page-header">
        Topics
        <a class="pull-right btn btn-primary" id="topics__create-topic-btn" ui-sref="auth.topicCreate" ng-if="$ctrl.currentUser.isProductOwner">
          <i class="fa fa-plus-circle"></i> create new topic
        </a>
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <dci-loading ng-if="$ctrl.loading"></dci-loading>
      <div ng-hide="$ctrl.loading">
        <div class="row">
          <div class="col-xs-12">
            <table class="table table-striped table-bordered table-hover">
              <thead>
                <tr>
                  <th class="text-center">ID</th>
                  <th>Topic name</th>
                  <th ng-if="$ctrl.currentUser.isProductOwner">Next Topic</th>
                  <th>Product</th>
                  <th>Created At</th>
                  <th class="text-center" ng-if="$ctrl.currentUser.isProductOwner">Actions</th>
                </tr>
              </thead>
              <tr ng-if="$ctrl.topics.length === 0">
                <td colspan="4">
                  there is no topic.
                </td>
              </tr>
              <tr ng-repeat="topic in $ctrl.topics | orderBy: 'name'">
                <td class="text-center">
                  <copy-button before="Click to copy" txt="{{ topic.id }}" after="Copied!" position="right" />
                </td>
                <td>
                  <a ng-if="$ctrl.currentUser.isProductOwner" ui-sref="auth.topicEdit({id: topic.id})">
                    {{topic.name}}
                  </a>
                  <span ng-hide="$ctrl.currentUser.isProductOwner">
                    {{topic.name}}
                  </span>
                </td>
                <td ng-if="$ctrl.currentUser.isProductOwner">
                  <a ui-sref="auth.topicEdit({id: topic.next_topic})">
                    {{topic.nexttopic.name}}
                  </a>
                </td>
                <td>
                  {{topic.product.name}}
                </td>
                <td>
                  {{topic.created_at | dciDate}}
                </td>
                <td class="text-center" ng-if="$ctrl.currentUser.isProductOwner">
                  <a class="btn btn-primary btn-sm btn-edit" ui-sref="auth.topicEdit({id: topic.id})">
                    <i class="fa fa-pencil"></i>
                  </a>
                  <button type="button" class="btn btn-danger btn-sm" ng-click="$ctrl.deleteTopic(topic)">
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>