<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <job-summary job="$ctrl.job"></job-summary>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-xs-6">
      <h1>
        Files
      </h1>
    </div>
    <div class="col-xs-6">
      <h1>
        <input type="search"
               class="form-control"
               ng-model="$ctrl.search.name"
               placeholder="Search file by name...">
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
          <tr>
            <th>Filename</th>
            <th>Size</th>
            <th>mime-type</th>
            <th class="text-center">Actions</th>
          </tr>
          <tr ng-repeat="file in $ctrl.job.files | orderBy: 'created_at' | filter:$ctrl.search:strict"
              ng-if="!file.jobstate_id"
              ng-init="file.downloading = false">
            <td>{{ file.name }}</td>
            <td>{{ file.size }} Bytes</td>
            <td>{{ file.mime }}</td>
            <td class="text-center">
              <button class="btn btn-primary"
                      ng-disabled="file.downloading"
                      ng-click="$ctrl.downloadFile(file)">
                <i class="fa fa-file-o fa-fw" ng-hide="file.downloading"></i>
                <i class="fa fa-spinner fa-pulse fa-fw" ng-if="file.downloading"></i>
                download
              </button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
