<div class="card-pf card-pf-aggregate-status card-pointer"
     ng-class="{
             'card-pf-success':   $ctrl.percentageTested >= 66,
             'card-pf-warning': $ctrl.percentageTested >= 33 && $ctrl.percentageTested < 66,
             'card-pf-danger': $ctrl.percentageTested < 33
           }">
  <h2 class="card-pf-title">
    <b ng-if="$ctrl.topicSelected">{{$ctrl.topic.name}}</b>
    <span ng-hide="$ctrl.topicSelected">{{$ctrl.topic.name}}</span>
  </h2>
  <div class="card-pf-body">
    <p>
      {{$ctrl.percentageTested}}% of the puddles tested ({{$ctrl.percentageBefore2days}}% before two days)
    </p>
  </div>
</div>
