[project]
	description = the client ui for the dci control server
[access "refs/*"]
  read = group dci-ui-core
  owner = group dci-ui-ptl
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group dci-ui-core
	label-Code-Review = -2..+2 group dci-ui-ptl
	label-Verified = -2..+2 group dci-ui-ptl
	label-Workflow = -1..+1 group dci-ui-core
	label-Workflow = -1..+1 group dci-ui-ptl
	label-Workflow = -1..+0 group Registered Users
	submit = group dci-ui-ptl
	read = group Registered Users
    read = group dci-ui-core
[access "refs/meta/config"]
    read = group Registered Users
    read = group dci-ui-core
[receive]
	requireChangeId = true
[submit]
	mergeContent = false
