<div class="pf-vertical-nav">
  <div class="pf-vertical-nav__category">
    DCI
  </div>
  <ul class="pf-vertical-nav__menu">
    <li class="pf-vertical-nav__item" ui-sref-active="active">
      <a id="navbar-primary__jobs-link" ui-sref="auth.jobs" class="pf-vertical-nav__link">
        <i class="fa fa-fw fa-list pf-vertical-nav__icon"></i>
        <span class="pf-vertical-nav__link-value">Jobs</span>
      </a>
    </li>
    <li class="pf-vertical-nav__item" ui-sref-active="active" ng-if="$ctrl.currentUser.hasReadOnlyRole">
      <a id="navbar-primary__global-status-link" ui-sref="auth.globalStatus" class="pf-vertical-nav__link">
        <i class="fa fa-fw fa-dashboard pf-vertical-nav__icon"></i>
        <span class="pf-vertical-nav__link-value">Global Status</span>
      </a>
    </li>
    <li class="pf-vertical-nav__item" ui-sref-active="active">
      <a id="navbar-primary__topics-link" ui-sref="auth.topics" class="pf-vertical-nav__link">
        <i class="fa fa-fw fa-cube pf-vertical-nav__icon"></i>
        <span class="pf-vertical-nav__link-value">Topics</span>
      </a>
    </li>
    <li class="pf-vertical-nav__item" ui-sref-active="active" ng-if="$ctrl.currentUser.hasAdminRole">
      <a id="navbar-primary__remotecis-link" ui-sref="auth.remotecis" class="pf-vertical-nav__link">
        <i class="fa fa-fw fa-server pf-vertical-nav__icon"></i>
        <span class="pf-vertical-nav__link-value">Remote CIs</span>
      </a>
    </li>
    <li class="pf-vertical-nav__item" ui-sref-active="active" ng-if="$ctrl.currentUser.hasProductOwnerRole">
      <a id="navbar-primary__feeders-link" ui-sref="auth.feeders" class="pf-vertical-nav__link">
        <i class="fa fa-fw fa-cloud-upload pf-vertical-nav__icon"></i>
        <span class="pf-vertical-nav__link-value">Feeders</span>
      </a>
    </li>
    <li class="pf-vertical-nav__item" ui-sref-active="active" ng-if="$ctrl.currentUser.isSuperAdmin">
      <a id="navbar-primary__products-link" ui-sref="auth.products" class="pf-vertical-nav__link">
        <i class="fa fa-fw fa-archive pf-vertical-nav__icon"></i>
        <span class="pf-vertical-nav__link-value">Products</span>
      </a>
    </li>
  </ul>
  <div class="pf-vertical-nav__category" ng-if="$ctrl.currentUser.hasAdminRole">
    Admin
  </div>
  <ul class="pf-vertical-nav__menu" ng-if="$ctrl.currentUser.hasAdminRole">
    <li class="pf-vertical-nav__item" ui-sref-active="active">
      <a id="navbar-primary__admin-teams-link" ui-sref="auth.adminTeams" class="pf-vertical-nav__link">
        <i class="fa fa-fw fa-users pf-vertical-nav__icon"></i>
        <span class="pf-vertical-nav__link-value">Team</span>
      </a>
    </li>
    <li class="pf-vertical-nav__item" ui-sref-active="active">
      <a id="navbar-primary__admin-users-link" ui-sref="auth.adminUsers" class="pf-vertical-nav__link">
        <i class="fa fa-fw fa-user-plus pf-vertical-nav__icon"></i>
        <span class="pf-vertical-nav__link-value">Users</span>
      </a>
    </li>
  </ul>
  <div class="pf-vertical-nav__category">
    Preferences
  </div>
  <ul class="pf-vertical-nav__menu">
    <li class="pf-vertical-nav__item" ui-sref-active="active">
      <a id="navbar-primary__settings-link" ui-sref="auth.settings" class="pf-vertical-nav__link">
        <i class="fa fa-fw fa-user pf-vertical-nav__icon"></i>
        <span class="pf-vertical-nav__link-value">Personal information</span>
      </a>
    </li>
    <li class="pf-vertical-nav__item" ui-sref-active="active" ng-hide="$ctrl.currentUser.isReadOnly">
      <a id="navbar-primary__password-link" ui-sref="auth.password" class="pf-vertical-nav__link">
        <i class="fa fa-fw fa-key pf-vertical-nav__icon"></i>
        <span class="pf-vertical-nav__link-value">Change password</span>
      </a>
    </li>
    <li class="pf-vertical-nav__item" ui-sref-active="active">
      <a id="navbar-primary__notification-link" ui-sref="auth.notification" class="pf-vertical-nav__link">
        <i class="fa fa-fw fa-bell pf-vertical-nav__icon"></i>
        <span class="pf-vertical-nav__link-value">Notifications</span>
      </a>
    </li>
  </ul>
</div>