<div class="pf-vertical-nav pf-vertical-nav-sm">
  <div class="pf-vertical-nav__logo bg-masthead">
    <img src="dci-logo.svg" alt="">
  </div>
  <div class="pf-vertical-nav__category">
    DCI
  </div>
  <ul class="pf-vertical-nav__menu">
    <li class="pf-vertical-nav__item" ui-sref-active="active">
      <a id="navbar-primary__jobs-link"
         ui-sref="auth.jobs" class="pf-vertical-nav__link">
        <i class="fa fa-fw fa-list"></i>
        Jobs
      </a>
    </li>
    <li class="pf-vertical-nav__item" ui-sref-active="active"
        ng-if="$ctrl.currentUser.isSuperAdminOrProductOwner">
      <a id="navbar-primary__global-status-link"
         ui-sref="auth.globalStatus" class="pf-vertical-nav__link">
        <i class="fa fa-fw fa-dashboard"></i>
        Global Status
      </a>
    </li>
    <li class="pf-vertical-nav__item" ui-sref-active="active">
      <a id="navbar-primary__topics-link"
         ui-sref="auth.topics" class="pf-vertical-nav__link">
        <i class="fa fa-fw fa-cube"></i>
        Topics
      </a>
    </li>
    <li class="pf-vertical-nav__item" ui-sref-active="active">
      <a id="navbar-primary__components-link"
         ui-sref="auth.components" class="pf-vertical-nav__link">
        <i class="fa fa-fw fa-cubes"></i>
        Components
      </a>
    </li>
    <li class="pf-vertical-nav__item" ui-sref-active="active"
        ng-if="$ctrl.currentUser.isAdmin">
      <a id="navbar-primary__remotecis-link"
         ui-sref="auth.adminRemotecis" class="pf-vertical-nav__link">
        <i class="fa fa-fw fa-server"></i>
        Remote CIs
      </a>
    </li>
    <li class="pf-vertical-nav__item" ui-sref-active="active"
        ng-if="$ctrl.currentUser.isSuperAdminOrProductOwner">
      <a id="navbar-primary__feeders-link"
         ui-sref="auth.adminFeeders" class="pf-vertical-nav__link">
        <i class="fa fa-fw fa-cloud-upload"></i>
        Feeders
      </a>
    </li>
    <li class="pf-vertical-nav__item"
        ui-sref-active="active"
        ng-if="$ctrl.currentUser.isSuperAdmin">
      <a id="navbar-primary__products-link"
         ui-sref="auth.adminProducts" class="pf-vertical-nav__link">
        <i class="fa fa-fw fa-archive"></i>
        Products
      </a>
    </li>
  </ul>
  <div class="pf-vertical-nav__category"
       ng-if="$ctrl.currentUser.isAdmin">
    Administration
  </div>
  <ul class="pf-vertical-nav__menu"
      ng-if="$ctrl.currentUser.isAdmin">
    <li class="pf-vertical-nav__item" ui-sref-active="active">
      <a id="navbar-primary__admin-teams-link"
         ui-sref="auth.adminTeams" class="pf-vertical-nav__link">
        <i class="fa fa-fw fa-users"></i>
        Teams & Users
      </a>
    </li>
    <li class="pf-vertical-nav__item" ui-sref-active="active">
      <a id="navbar-primary__admin-users-link"
         ui-sref="auth.adminUserCreate" class="pf-vertical-nav__link">
        <i class="fa fa-fw fa-user-plus"></i>
        New user
      </a>
    </li>
  </ul>
  <div class="pf-vertical-nav__category">
    Preferences
  </div>
  <ul class="pf-vertical-nav__menu">
    <li class="pf-vertical-nav__item" ui-sref-active="active">
      <a id="navbar-primary__settings-link"
         ui-sref="auth.settings" class="pf-vertical-nav__link">
        <i class="fa fa-fw fa-user"></i>
        Personal information
      </a>
    </li>
    <li class="pf-vertical-nav__item" ui-sref-active="active">
      <a id="navbar-primary__password-link"
         ui-sref="auth.password" class="pf-vertical-nav__link">
        <i class="fa fa-fw fa-key"></i>
        Change password
      </a>
    </li>
    <li class="pf-vertical-nav__item" ui-sref-active="active">
      <a id="navbar-primary__notification-link"
         ui-sref="auth.notification" class="pf-vertical-nav__link">
        <i class="fa fa-fw fa-bell"></i>
        Notifications
      </a>
    </li>
  </ul>
</div>
