<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="page-header">
        Products
        <a class="pull-right btn btn-primary"
           ui-sref="auth.adminProductCreate">
          <i class="fa fa-plus-circle"></i> create new product
        </a>
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <dci-loading ng-if="$ctrl.products.isFetching"></dci-loading>
      <div ng-hide="$ctrl.products.isFetching">
        <div class="row">
          <div class="col-xs-12">
            <table class="table table-striped table-bordered table-hover">
              <thead>
              <tr>
                <th>Product name</th>
                <th>ID</th>
                <th>Label</th>
                <th>Team Owner</th>
                <th>Description</th>
                <th>Created At</th>
                <th class="text-center">Actions</th>
              </tr>
              </thead>
              <tr ng-if="$ctrl.products.items.length === 0">
                <td colspan="6">
                  There is no product.
                  <a ui-sref="auth.adminProductCreate">Do you want to create one?</a>
                </td>
              </tr>
              <tr ng-repeat="product in $ctrl.products.items | orderBy: 'name'">
                <td>
                  <a ui-sref="auth.adminProductEdit({id: product.id})">
                    {{product.name}}
                  </a>
                </td>
                <td>{{product.id}}</td>
                <td>{{product.label}}</td>
                <td>{{product.team.name}}</td>
                <td>{{product.description}}</td>
                <td>{{product.created_at | dciDate}}</td>
                <td class="text-center">
                  <a class="btn btn-primary btn-sm"
                     ui-sref="auth.adminProductEdit({id: product.id})">
                    <i class="glyphicon glyphicon-pencil"></i>
                  </a>
                  <button type="button"
                          class="btn btn-danger btn-sm"
                          ng-click="$ctrl.deleteProduct(product)">
                    <i class="glyphicon glyphicon-trash"></i>
                  </button>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
