<div class="cards-pf" style="min-height:90vh">
  <div class="container-fluid container-cards-pf" ng-if="$ctrl.topics">
    <div class="row row-cards-pf">
      <div class="col-sm-4 col-md-3 col-lg-1"
           ng-repeat="topic in $ctrl.filteredTopics"
           ng-click="$ctrl.updatePage(topic.name, $ctrl.selectedRange)">
        <topic-metrics-summary topic="topic"></topic-metrics-summary>
      </div>
    </div>
    <div class="row row-cards-pf">
      <div class="col-md-12 col-lg-6">
        <div class="card-pf card-pf-utilization">
          <div class="card-pf-heading">
            <p class="card-pf-heading-details">
              <a class="btn"
                 ng-class="{'btn-primary': $ctrl.selectedRange === 3, 'btn-default': $ctrl.selectedRange !== 3  }"
                 ng-click="$ctrl.updatePage($ctrl.selectedTopic.name, 3)">
                3 Months
              </a>
              <a class="btn"
                 ng-class="{'btn-primary': $ctrl.selectedRange === 6, 'btn-default': $ctrl.selectedRange !== 6  }"
                 ng-click="$ctrl.updatePage($ctrl.selectedTopic.name, 6)">
                6 Months
              </a>
              <a class="btn"
                 ng-class="{'btn-primary': $ctrl.selectedRange === -1, 'btn-default': $ctrl.selectedRange !== -1 }"
                 ng-click="$ctrl.updatePage($ctrl.selectedTopic.name, -1)">
                All
              </a>
            </p>
            <h2 class="card-pf-title" style="height: 18px;">
              Number of days before first run for each components of topic {{$ctrl.selectedTopic.name}}
            </h2>
          </div>
          <div class="card-pf-body">
            <div class="row">
              <div class="col-xs-12">
                <tested-components-graph
                  topic="$ctrl.selectedTopic"
                  ng-if="$ctrl.selectedTopic">
                </tested-components-graph>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid container-cards-pf" ng-if="!$ctrl.topics">
    <div class="row row-cards-pf">
      <div class="col-xs-12 col-sm-4 col-sm-offset-4 col-lg-2 col-lg-offset-5 pt-3">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="64" height="64" fill="black">
          <circle transform="translate(8 0)" cx="0" cy="16" r="0">
            <animate attributeName="r" values="0; 4; 0; 0" dur="1.2s" repeatCount="indefinite" begin="0"
                     keytimes="0;0.2;0.7;1" keySplines="0.2 0.2 0.4 0.8;0.2 0.6 0.4 0.8;0.2 0.6 0.4 0.8" calcMode="spline" />
          </circle>
          <circle transform="translate(16 0)" cx="0" cy="16" r="0">
            <animate attributeName="r" values="0; 4; 0; 0" dur="1.2s" repeatCount="indefinite" begin="0.3"
                     keytimes="0;0.2;0.7;1" keySplines="0.2 0.2 0.4 0.8;0.2 0.6 0.4 0.8;0.2 0.6 0.4 0.8" calcMode="spline" />
          </circle>
          <circle transform="translate(24 0)" cx="0" cy="16" r="0">
            <animate attributeName="r" values="0; 4; 0; 0" dur="1.2s" repeatCount="indefinite" begin="0.6"
                     keytimes="0;0.2;0.7;1" keySplines="0.2 0.2 0.4 0.8;0.2 0.6 0.4 0.8;0.2 0.6 0.4 0.8" calcMode="spline" />
          </circle>
        </svg>
      </div>
    </div>
  </div>
</div>
