<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="page-header">
        Teams
        <a class="pull-right btn btn-primary" id="admin__create-team-btn" ui-sref="auth.adminTeamCreate">
          <i class="fa fa-plus-circle"></i> create new team
        </a>
      </h1>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-xs-12 col-md-8">
      <form class="form-inline">
        <div class="form-group">
          <label for="teamName">Type to find teams:</label>
          <input type="text" class="form-control" id="teamName" ng-model="$ctrl.search.name">
        </div>
      </form>
    </div>
    <div class="col-xs-12 col-md-4 text-right">
      <ul class="nav nav-pills pull-right">
        <li ng-click="$ctrl.search.external = ''">
          <a href="#">
            All
          </a>
        </li>
        <li ng-click="$ctrl.search.external = true">
          <a href="#">Partners
            <span ng-if="$ctrl.search.external == true">({{ filteredTeams.length }})</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <dci-loading ng-if="$ctrl.loading"></dci-loading>
      <div ng-hide="$ctrl.loading">
        <div class="row">
          <div class="col-xs-12">
            <table class="table table-striped table-bordered table-hover">
              <thead>
                <tr>
                  <th class="text-center col-xs-1">ID</th>
                  <th class="text-center col-xs-1" ng-if="$ctrl.currentUser.isSuperAdmin">Partner</th>
                  <th>Name</th>
                  <th>Parent team</th>
                  <th>Created</th>
                  <th class="text-center">Actions</th>
                </tr>
              </thead>
              <tr ng-if="$ctrl.teams.length === 0">
                <td colspan="4">
                  There is no team.
                  <a ui-sref="auth.adminTeamCreate">Do you want to create one?</a>
                </td>
              </tr>
              <tr ng-repeat="team in $ctrl.teams | orderBy: 'name' | filter:$ctrl.search as filteredTeams">
                <td class="text-center">
                  <copy-button before="Click to copy" txt="{{ team.id }}" after="Copied!" position="right" />
                </td>
                <td class="text-center" ng-if="$ctrl.currentUser.isSuperAdmin">
                    <span ng-if="team.external" class="label label-success">P</span>
                  </td>
                <td>
                  <a ui-sref="auth.adminTeamEdit({id: team.id})">
                    {{team.name}}
                  </a>
                </td>
                <td>
                    <a ui-sref="auth.adminTeamEdit({id: $ctrl.teamIds[team.parent_id].id})">
                      {{$ctrl.teamIds[team.parent_id].name}}
                    </a>
                  </td>
                <td>
                  <span title="{{team.created_at }}">{{team.created_at | dciFromNow}}</span>
                </td>
                <td class="text-center">
                  <a class="btn btn-primary btn-sm btn-edit" ui-sref="auth.adminTeamEdit({id: team.id})">
                    <i class="fa fa-pencil"></i>
                  </a>
                  <button type="button" class="btn btn-danger btn-sm" ng-click="$ctrl.deleteTeam(team)" ng-disabled="$ctrl.currentUser.team.id === team.id">
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>