<div class="alerts">
  <div class="toast-pf alert alert-dismissable"
       ng-repeat="alert in $ctrl.alerts"
       ng-class="'alert-' + alert.type">
    <button type="button" class="close" data-dismiss="alert"
            ng-click="$ctrl.closeAlert(alert)">
      <span class="fa fa-times"></span>
    </button>
    <span class="fa fa-info" ng-if="alert.type === 'info'"></span>
    <span class="fa fa-check" ng-if="alert.type === 'success'"></span>
    <span class="fa fa-exclamation" ng-if="alert.type === 'warning'"></span>
    <span class="fa fa-exclamation" ng-if="alert.type === 'danger'"></span>
    <span class="alert__message">{{ alert.message }}</span>
  </div>
</div>
