<div class="alerts">
  <div class="toast-pf alert alert-dismissable"
       ng-repeat="alert in $ctrl.alerts"
       ng-class="'alert-' + alert.type">
    <button type="button" class="close" data-dismiss="alert"
            ng-click="$ctrl.closeAlert(alert)">
      <span class="pficon pficon-close"></span>
    </button>
    <span class="pficon pficon-info" ng-if="alert.type === 'info'"></span>
    <span class="pficon pficon-ok" ng-if="alert.type === 'success'"></span>
    <span class="pficon pficon-warning-triangle-o" ng-if="alert.type === 'warning'"></span>
    <span class="pficon pficon-error-circle-o" ng-if="alert.type === 'danger'"></span>
    <span class="alert__message">{{ alert.message }}</span>
  </div>
</div>
