<div class="row">
<h3 class="col-md-12 page-header">Remote CI
  <button type="button" class="btn btn-default btn-xs pull-right"
                        ng-click="collapses.remoteci = !collapses.remoteci">
    <span ng-if="collapses.remoteci">
      <span class="glyphicon glyphicon-menu-down"></span>
      see details
    </span>
    <span ng-if="!collapses.remoteci">
      <span class="glyphicon glyphicon-menu-up"></span>
      close details
    </span>
  </button>
</h3>
<div class="col-md-12" uib-collapse="collapses.remoteci">
  <h4>{{ job.remoteci.name }}</h4>
  <table class="table table-striped">
    <tr><th>id</th><td>{{ job.remoteci.id }}</td></tr>
    <tr><th>created at</th><td>{{ job.remoteci.created_at }}</td></tr>
    <tr><th>updated at</th><td>{{ job.remoteci.updated_at }}</td></tr>
    <tr>
      <th>data</th>
      <td><div json-formatter json="job.remoteci.data" open="1"></div></td>
    </tr>
  </table>
</div>
</div>

<div class="row">
  <h3 class="col-md-12 page-header">Job definition
    <button type="button" class="btn btn-default btn-xs pull-right"
                          ng-click="collapses.jobdefinition = !collapses.jobdefinition">
      <span ng-if="collapses.jobdefinition">
        <span class="glyphicon glyphicon-menu-down"></span>
        see details
      </span>
      <span ng-if="!collapses.jobdefinition">
        <span class="glyphicon glyphicon-menu-up"></span>
        close details
      </span>
    </button>
  </h3>
  <div class="col-md-12" uib-collapse="collapses.jobdefinition">
    <h4>{{ job.jobdefinition.name }}</h4>
    <table class="table table-striped">
      <tr><th>id</th><td>{{ job.jobdefinition.id }}</td></tr>
      <tr><th>priority</th><td>{{ job.jobdefinition.priority }}</td></tr>
      <tr><th>created at</th><td>{{ job.jobdefinition.created_at }}</td></tr>
    </table>
  </div>
</div>

<div class="row">
  <h3 class="col-md-12 page-header">Components
    <button type="button" class="btn btn-default btn-xs pull-right"
                          ng-click="collapses.components = !collapses.components">
      <span ng-if="collapses.components">
        <span class="glyphicon glyphicon-menu-down"></span>
        see details
      </span>
      <span ng-if="!collapses.components">
        <span class="glyphicon glyphicon-menu-up"></span>
        close details
      </span>
    </button>
  </h3>
  <div uib-collapse="collapses.components">
    <div class="col-md-6" ng-repeat="component in components">
      <h4>{{ component.name }}</h4>
      <table class="table table-striped">
        <tr><th>id</th><td>{{ component.id }}</td></tr>
        <tr><th>type</th><td>{{ component.type }}</td></tr>
        <tr><th>created at</th><td>{{ component.created_at }}</td></tr>
        <tr>
          <th>data</th>
          <td class="col-md-10"><div json-formatter json="component.data" open="1"></div></td>
        </tr>
      </table>
    </div>
  </div>
</div>

