<form ng-controller="EditCtrl">
  <div class="form-group">
    <label for="comment">Comment</label>
    <textarea id="comment" class="form-control" ng-model="form.comment" rows="8"></textarea>
  </div>
  <div class="checkbox" ng-if="isEditableStatus">
    <label>
      <input type="checkbox" ng-model="form.status"> Change state
      <p class="text-danger" ng-if="form.status"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        This is a dangerous option, be sure that you know what you are doing, before submitting
        this.</p>
    </label>
  </div>

  <button type="submit" class="btn btn-primary" ng-click="submit()">Submit</button>
  <button type="submit" class="btn btn-default" ng-click="reset()">Reset</button>
</form>
<div class="alerts">
  <div ng-repeat="alert in alerts">
    <div alert type="{{alert.type}}" close="alerts.splice($index, 1)">
      {{alert.msg}}
    </div>
  </div>
</div>

