<div class="col-md-12" ng-if="job.files && !job.files.length">
  <h3 class="bs-callout bs-callout-danger text-center">No file attached to this job.</h3>
</div>
<div class="col-md-12" ng-if="job.files.length">
  <h2 class="page-header">Files list</h2>
  <div class="downloads-list">
    <div class="table-responsive">
      <table class="table table-striped">
        <tr>
          <th>Filename</th><th>Size</th><th>mime-type</th><th>Download</th></tr>
        <tr ng-repeat="download in job.files">
          <td>{{ download.name }}</td>
          <td>{{ download.size }} Bytes</td>
          <td>{{ download.mime }}</td>
          <td>
            <a ng-href="{{download.dl_link}}">
              <span class="glyphicon glyphicon-download-alt"></span> download
            </a>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
