<div class="row" ng-if="!job.files.length">
  <div class="col-xs-12">
    <h3 class="bs-callout bs-callout-danger text-center">No file attached to this job.</h3>
  </div>
</div>
<div ng-if="job.files.length">
  <div class="row">
    <div class="col-xs-12">
      <div class="page-header">
        <h2>Files list</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <input type="search"
             class="form-control"
             ng-model="search.name"
             placeholder="Filter By Name..."
             style="border-bottom: 0">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
          <tr>
            <th>Filename</th>
            <th>Size</th>
            <th>mime-type</th>
            <th>Download</th>
          </tr>
          <tr ng-repeat="download in job.files | filter:search:strict">
            <td>{{ download.name }}</td>
            <td>{{ download.size }} Bytes</td>
            <td>{{ download.mime }}</td>
            <td>
              <a ng-href="{{download.dl_link}}">
                <span class="glyphicon glyphicon-download-alt"></span> download
              </a>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
