<nav id="menu" class="navbar navbar-default navbar-pf" role="navigation" ng-if="$ctrl.auth.isAuthenticated()">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">
      <img id="menu__logo" src="images/gecko.png" alt="Distributed CI"/>
    </a>
  </div>
  <div class="collapse navbar-collapse navbar-collapse-1">
    <ul class="nav navbar-nav navbar-utility">
      <li>
        <a id="settingsLink" ui-sref="settings">
          <i class="pficon pficon-user"></i> {{ $ctrl.user.fullname || $ctrl.user.name }} - {{ $ctrl.user.team.name }}
        </a>
      </li>
      <li>
        <a href="#" ng-click="$ctrl.logout()">
          Logout
        </a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-primary"
        ng-class="{'persistent-secondary': $ctrl.shouldDisplaySubMenu()}">
      <li ng-class="{active: $ctrl.isJobsPage() || $ctrl.isJobPage()}">
        <a ui-sref="jobs">
          Jobs
        </a>
        <ul class="nav navbar-nav navbar-persistent" ng-if="$ctrl.isJobPage()">
          <li ui-sref-active="active">
            <a id="jobResultsLink" ui-sref="job.results">Results</a>
          </li>
          <li ui-sref-active="active">
            <a id="jobLogsLink" ui-sref="job.logs">Logs</a>
          </li>
          <li ui-sref-active="active">
            <a id="jobDetailsLink" ui-sref="job.details">Details</a>
          </li>
          <li ui-sref-active="active">
            <a id="jobEditLink" ui-sref="job.edit">Edit job</a>
          </li>
          <li ui-sref-active="active">
            <a id="jobStackdetailsLink" ui-sref="job.stackdetails">Stack Details</a>
          </li>
          <li ui-sref-active="active">
            <a id="jobIssuesLink" ui-sref="job.issues">Issues</a>
          </li>
          <li ui-sref-active="active">
            <a id="jobFilesLink" ui-sref="job.files">Files</a>
          </li>
        </ul>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="jobdefs">
          Job definitions
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="topics">
          Topics
        </a>
      </li>
      <li ui-sref-active="active" ng-if="$ctrl.isSuperAdmin()">
        <a ui-sref="statsMetrics">
          Metrics
        </a>
      </li>
      <li ng-class="{active: $ctrl.isAdminPage()}"
          ng-if="$ctrl.isAdmin() || $ctrl.isSuperAdmin()">
        <a ui-sref="adminUsers">
          Administration
        </a>
        <ul class="nav navbar-nav navbar-persistent">
          <li ng-class="{active: $ctrl.isUserPage()}">
            <a ui-sref="adminUsers">Users</a>
          </li>
          <li ng-class="{active: $ctrl.isTeamPage()}"
              ng-if="$ctrl.isSuperAdmin()">
            <a ui-sref="adminTeams">Teams</a>
          </li>
          <li ng-class="{active: $ctrl.isTopicPage()}"
              ng-if="$ctrl.isSuperAdmin()">
            <a ui-sref="adminTopics">Topics</a>
          </li>
          <li ng-class="{active: $ctrl.isRemoteCIPage()}">
            <a ui-sref="adminRemotecis">RemoteCIs</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="adminAudits">Audits</a>
          </li>
        </ul>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="globalStatus">
          Global Status
        </a>
      </li>
      <li ng-class="{active: $ctrl.isSettingsOrPasswordPage()}"
          ng-if="$ctrl.isSettingsOrPasswordPage()">
        <a ui-sref="settings">
          Settings
        </a>
        <ul class="nav navbar-nav navbar-persistent">
          <li ng-class="{active: $ctrl.isSettingsPage()}">
            <a ui-sref="settings">User settings</a>
          </li>
          <li ng-class="{active: $ctrl.isPasswordPage()}">
            <a ui-sref="password">Change password</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
