<div>
  <form id="changePasswordForm">
    <fieldset>
      <!--
      <div class="form-group">
        <label class="control-label  required" for="current_password">
          Current password
        </label>
        <input class="form-control" id="current_password" ng-model="$ctrl.current_password" type="password" required>
      </div>
      -->
      <div class="form-group">
        <label for="password1">
          New password
        </label>
        <input id="password1"
               class="form-control"
               type="password"
               ng-model="$ctrl.password1"
               required>
      </div>
      <div class="form-group">
        <label class="control-label  required" for="password2">
          Confirm new password
        </label>
        <input id="password2"
               class="form-control"
               type="password"
               ng-model="$ctrl.password2"
               required>
      </div>
    </fieldset>
  </form>
  <button id="changePasswordButton"
          class="btn btn-primary"
          type="button"
          ng-click="$ctrl.changePassword()">
    Change your password
  </button>
</div>
