<div class="cards-pf" style="min-height:90vh">
  <dci-title title="Metrics"></dci-title>

  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <dci-loading ng-if="$ctrl.metrics.isFetching"></dci-loading>
        <div ng-hide="$ctrl.metrics.isFetching">
          <div class="row row-cards-pf">
            <div class="col-sm-4 col-md-3 col-lg-1"
                 ng-repeat="topic in $ctrl.metrics.items"
                 ng-click="$ctrl.updatePage(topic, $ctrl.selectedRange)">
              <topic-metrics-summary
                topic="topic"
                topic-selected="topic.name === $ctrl.metrics.item.name">
              </topic-metrics-summary>
            </div>
          </div>
          <div id="topicMetricsGraph" class="row row-cards-pf">
            <div class="col-md-12 col-lg-6">
              <div class="card-pf card-pf-utilization">
                <div class="card-pf-heading">
                  <p class="card-pf-heading-details">
                    <a class="btn"
                       ng-class="{'btn-primary': $ctrl.selectedRange === 3, 'btn-default': $ctrl.selectedRange !== 3  }"
                       ng-click="$ctrl.updatePage($ctrl.metrics.item, 3)">
                      3 Months
                    </a>
                    <a class="btn"
                       ng-class="{'btn-primary': $ctrl.selectedRange === 6, 'btn-default': $ctrl.selectedRange !== 6  }"
                       ng-click="$ctrl.updatePage($ctrl.metrics.item, 6)">
                      6 Months
                    </a>
                    <a class="btn"
                       ng-class="{'btn-primary': $ctrl.selectedRange === -1, 'btn-default': $ctrl.selectedRange !== -1 }"
                       ng-click="$ctrl.updatePage($ctrl.metrics.item, -1)">
                      All
                    </a>
                  </p>
                  <h2 class="card-pf-title" style="height: 18px;">
                    Number of days before first run for each components of topic <b>{{$ctrl.metrics.item.name}}</b>
                  </h2>
                </div>
                <div class="card-pf-body">
                  <div class="row">
                    <div class="col-xs-12">
                      <topic-metrics-graph
                        topic="$ctrl.metrics.item"
                        ng-if="$ctrl.metrics.item">
                      </topic-metrics-graph>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
