<div class="container-fluid">
  <div class="row" ng-if="$ctrl.currentUser.team === null && !$ctrl.loading">
    <div class="col-xs-12 mt-3">
      <no-team-warning></no-team-warning>
    </div>
  </div>
  <div class="row" ng-if="$ctrl.loading">
    <div class="col-xs-12">
      <dci-loading></dci-loading>
    </div>
  </div>
  <div class="row" ng-hide="$ctrl.currentUser.team === null || $ctrl.loading">
    <div class="col-sm-8 col-md-9" style="min-height:90vh">
      <div class="list-group list-view-pf list-view-pf-view">
        <div ng-repeat="job in $ctrl.jobs | filter:$ctrl.search | filter:$ctrl.status">
            <job-summary job="job"></job-summary>
        </div>
        <div ng-if="$ctrl.jobs.length === 0">
          There is no job available <span ng-if="$ctrl.remoteci">for remote CI {{ $ctrl.remoteci.name }}</span>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-3 sidebar-pf sidebar-pf-right" style="min-height:90vh; height:100%">
      <div class="sidebar-header sidebar-header-bleed-left sidebar-header-bleed-right">
        <div class="actions pull-right">
          <button type="button" class="btn btn-link" ng-click="$ctrl.clearFilters()">Clear filters</button>
        </div>
        <h2 class="h5">Quick search</h2>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <form class="search-pf has-button">
            <div class="form-group has-clear">
              <div class="search-pf-input-group">
                <label for="searchJobs" class="sr-only">Search</label>
                <input id="searchJobs" type="search" class="form-control"
                       placeholder="Search"
                       ng-model="$ctrl.search">
                <button type="button"
                        class="clear"
                        ng-if="$ctrl.search"
                        ng-click="$ctrl.search=''">
                  <span class="fa fa-times"></span>
                </button>
              </div>
            </div>
            <div class="form-group">
              <button class="btn btn-default" type="button"><span class="fa fa-search"></span></button>
            </div>
          </form>
        </div>
      </div>
      <div class="sidebar-header sidebar-header-bleed-left sidebar-header-bleed-right">
        <h2 class="h5">
          Status
          <div class="actions pull-right" ng-if="$ctrl.status">
            <button type="button" class="btn"
                    ng-repeat="status in $ctrl.statuses"
                    ng-if="status.value === $ctrl.status"
                    ng-class="status.btn"
                    ng-click="$ctrl.status = ''">
              <i class="fa" ng-class="status.icon"></i>
              {{status.name}}
              <i class="fa fa-times-circle"></i>
            </button>
          </div>
        </h2>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <div class="btn-toolbar" role="toolbar">
              <div class="btn-group" role="group"
                   ng-repeat="status in $ctrl.statuses"
                   ng-click="$ctrl.status=status.value">
                <button type="button" class="btn mb-2"
                        ng-class="status.btn">
                  <i class="fa"
                     ng-class="status.icon"></i>
                  {{status.name}}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="sidebar-header sidebar-header-bleed-left sidebar-header-bleed-right">
        <h2 class="h5">
          Remotecis
          <div class="actions pull-right" ng-if="$ctrl.remoteci">
            <button type="button" class="btn btn-default"
                    ng-click="$ctrl.clearFilters()">
              {{$ctrl.remoteci.name}}
              <i class="fa fa-times-circle"></i>
            </button>
          </div>
        </h2>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <ul class="list-unstyled">
              <li ng-repeat="team in $ctrl.teams">
                  <i class="fa fa-angle-down fa-fw" ng-if="(team.remotecis | filter:$ctrl.search).length > 0"></i>
                  <i class="fa fa-angle-right fa-fw" ng-if="(team.remotecis | filter:$ctrl.search).length === 0"></i>
                  {{team.name}}
                <br>
                <button class="btn btn-link" type="button"
                        ng-repeat="remoteci in team.remotecis | filter:$ctrl.search"
                        ng-click="$ctrl.getJobsFromRemoteci(remoteci)">
                  <i class="fa fa-server fa-fw"></i> {{remoteci.name}}
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
