<div class="container-fluid">
  <div class="row" ng-if="$ctrl.currentUser.team === null && !$ctrl.loading">
    <div class="col-xs-12 mt-3">
      <no-team-warning></no-team-warning>
    </div>
  </div>
  <div class="row" ng-if="$ctrl.loading">
    <div class="col-xs-12">
      <dci-loading></dci-loading>
    </div>
  </div>
  <div class="row" ng-hide="$ctrl.currentUser.team === null || $ctrl.loading">
    <div class="col-sm-8 col-md-9" style="min-height:90vh">
      <div class="page-header">
        <h1>Dashboard</h1>
      </div>
      <div class="list-group list-view-pf list-view-pf-view">
        <job-summary job="job"
                     ng-repeat="job in $ctrl.jobs | filter:$ctrl.search | filter:$ctrl.filter"></job-summary>
      </div>
    </div>
    <div class="col-sm-4 col-md-3 sidebar-pf sidebar-pf-right" style="min-height:90vh; height:100%">
      <div class="sidebar-header sidebar-header-bleed-left sidebar-header-bleed-right">
        <div class="actions pull-right">
          <button type="button" class="btn btn-link" ng-click="$ctrl.clearFilters()">Clear filters</button>
        </div>
        <h2 class="h5">Quick search</h2>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <form class="search-pf has-button">
            <div class="form-group has-clear">
              <div class="search-pf-input-group">
                <label for="searchJobs" class="sr-only">Search</label>
                <input id="searchJobs" type="search" class="form-control"
                       placeholder="Search"
                       ng-model="$ctrl.search">
                <button type="button"
                        class="clear"
                        ng-if="$ctrl.search"
                        ng-click="$ctrl.search=''">
                  <span class="fa fa-times"></span>
                </button>
              </div>
            </div>
            <div class="form-group">
              <button class="btn btn-default" type="button"><span class="fa fa-search"></span></button>
            </div>
          </form>
        </div>
      </div>
      <div class="sidebar-header sidebar-header-bleed-left sidebar-header-bleed-right">
        <h2 class="h5">
          Status
          <div class="actions pull-right" ng-if="$ctrl.filter.status">
            <button type="button" class="btn"
                    ng-repeat="status in $ctrl.statuses"
                    ng-if="status.value === $ctrl.filter.status"
                    ng-class="status.btn"
                    ng-click="$ctrl.filter.status = ''">
              <i class="fa" ng-class="status.icon"></i>
              {{status.name}}
              <i class="fa fa-times-circle"></i>
            </button>
          </div>
        </h2>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <div class="btn-toolbar" role="toolbar">
              <div class="btn-group" role="group"
                   ng-repeat="status in $ctrl.statuses"
                   ng-click="$ctrl.filter.status=status.value">
                <button type="button" class="btn mb-2"
                        ng-class="status.btn">
                  <i class="fa"
                     ng-class="status.icon"></i>
                  {{status.name}}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="sidebar-header sidebar-header-bleed-left sidebar-header-bleed-right">
        <h2 class="h5">
          Remote ci
          <div class="actions pull-right" ng-if="$ctrl.filter.remoteci.name">
            <button type="button" class="btn btn-default"
                    ng-click="$ctrl.filter.remoteci.name = ''">
              {{$ctrl.filter.remoteci.name}}
              <i class="fa fa-times-circle"></i>
            </button>
          </div>
        </h2>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <div class="btn-toolbar" role="toolbar">
              <div class="btn-group" role="group"
                   ng-repeat="job in $ctrl.jobs | unique:'remoteci_id'"
                   ng-click="$ctrl.filter.remoteci.name=job.remoteci.name">
                <button type="button" class="btn btn-default mb-2">
                  {{job.remoteci.name}}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
