<div class="row">
  <div class="col-xs-12">
    <h1 class="page-header">
      Remotecis
      <a class="pull-right btn btn-primary"
         ui-sref="adminRemoteciCreate">
        <i class="fa fa-plus-circle"></i> create new remoteci
      </a>
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div ng-if="$ctrl.remotecis.length > 0">
      <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
          <th>Status</th>
          <th>RemoteCI name</th>
          <th>RemoteCI ID</th>
          <th>Date</th>
          <th class="text-center">Actions</th>
        </tr>
        </thead>
        <tr ng-if="$ctrl.remotecis.length === 0">
          <td colspan="4">
            There is no remoteci.
            <a ui-sref="adminRemoteciCreate">Do you want to create one?</a>
          </td>
        </tr>
        <tr ng-repeat="remoteci in $ctrl.remotecis | orderBy: 'name'">
          <td>
            <span ng-if="remoteci.state == 'inactive'" class="label label-danger">Locked</span>
            <span ng-if="remoteci.state == 'active'" class="label label-success">Active</span>
          </td>
          <td>
            <a ui-sref="adminRemoteciEdit({id: remoteci.id})">
              {{remoteci.name}}
            </a>
          </td>
          <td>{{ remoteci.id }}</td>
          <td>{{ remoteci.created_at | dciDate }}</td>
          <td class="text-center">
            <a class="btn btn-primary btn-sm"
               ui-sref="adminRemoteciEdit({id: remoteci.id})">
              <i class="glyphicon glyphicon-pencil"></i>
            </a>
            <button type="button" class="btn btn-default btn-sm" ng-click="$ctrl.toggleLockRemoteci(remoteci)">
              <i class="glyphicon glyphicon-lock"></i>
            </button>
            <button type="button"
                    class="btn btn-danger btn-sm"
                    ng-click="$ctrl.deleteRemoteci(remoteci)">
              <i class="glyphicon glyphicon-trash"></i>
            </button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
