<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-4">
    <h2>Create a remoteci:</h2>
    <form ng-submit="$ctrl.create()">
      <div class="form-group">
        <label class="control-label" for="remoteciName">Name</label>
        <input id="remoteciName"
               type="text"
               name="remoteciName"
               class="form-control"
               ng-model="$ctrl.remoteci.name"
               required>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="$ctrl.remoteci.allow_upgrade_job"> Allow upgrade
        </label>
      </div>
      <button type="submit" class="btn btn-primary">Create</button>
    </form>
  </div>
</div>

