<div class="row">
  <div class="col-xs-12">
    <h1 class="page-header">
      Teams
      <a class="pull-right btn btn-primary"
         ui-sref="adminTeamCreate">
        <i class="fa fa-plus-circle"></i> create new team
      </a>
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div ng-if="$ctrl.teams.length > 0">
      <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
          <th>Team name</th>
          <th>Team ID</th>
          <th>Date</th>
          <th>eMail</th>
          <th>Notification</th>
          <th class="text-center">Actions</th>
        </tr>
        </thead>
        <tr ng-if="$ctrl.teams.length === 0">
          <td colspan="4">
            There is no team.
            <a ui-sref="adminTeamCreate">Do you want to create one?</a>
          </td>
        </tr>
        <tr ng-repeat="team in $ctrl.teams | orderBy: 'name'">
          <td>
            <a ui-sref="adminTeamEdit({id: team.id})">
              {{team.name}}
            </a>
          </td>
          <td>{{ team.id }}</td>
          <td>{{ team.created_at | dciDate }}</td>
          <td>{{ team.email }}</td>
          <td>{{ team.notification }}</td>
          <td class="text-center">
            <a class="btn btn-primary btn-sm"
               ui-sref="adminTeamEdit({id: team.id})">
              <i class="glyphicon glyphicon-pencil"></i>
            </a>
            <button type="button"
                    class="btn btn-danger btn-sm"
                    ng-click="$ctrl.deleteTeam(team)"
                    ng-disabled="$ctrl.currentTeam.id === team.id">
              <i class="glyphicon glyphicon-trash"></i>
            </button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
