<div class="row">
  <div class="col-xs-12 col-sm-8 col-md-6">
    <h2>Create a team:</h2>
    <form ng-submit="$ctrl.create()" novalidate>
      <div class="form-group">
        <label class="control-label" for="teamName">Name</label>
        <input id="teamName"
               type="text"
               name="teamName"
               class="form-control"
               ng-model="$ctrl.team.name"
               required>
      </div>
      <div class="form-group">
        <label class="control-label" for="teamEmail">Email</label>
        <input id="teamEmail"
               type="email"
               class="form-control"
               name="teamEmail"
               ng-model="$ctrl.team.email">
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="$ctrl.team.notification"> Notification
        </label>
      </div>
      <button type="submit" class="btn btn-primary">Create</button>
    </form>
  </div>
</div>

