<dci-title title="'Latest components'"></dci-title>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <dci-loading ng-if="$ctrl.loading"></dci-loading>
      <div ng-hide="$ctrl.loading">
        <table class="table table-striped table-bordered table-hover">
          <thead>
          <tr>
            <th class="text-center">ID</th>
            <th>Name</th>
            <th>Product</th>
            <th>Topic</th>
            <th>Created</th>
            <th class="text-center" ng-if="$ctrl.currentUser.hasProductOwnerRole">
              Actions
            </th>
          </tr>
          </thead>
          <tr ng-if="$ctrl.components.length === 0">
            <td colspan="8">
              There is no component.
            </td>
          </tr>
          <tr ng-repeat="component in $ctrl.components | orderBy: '-created_at' | filter: $ctrl.componentsSearch">
            <td class="text-center">
                <copy-button text="component.id" />
            </td>
            <td>
              <span>
                {{component.name | limitTo:42}}
              </span>
              <span ng-if="component.name.length > 42">...</span>
            </td>
            <td>
              <a ng-if="$ctrl.currentUser.hasProductOwnerRole"
                 ui-sref="auth.productEdit({id: component.product_id})">
                {{component.product_name}}
              </a>
              <span ng-hide="$ctrl.currentUser.hasProductOwnerRole">
                {{component.product_name}}
              </span>
            </td>
            <td>
              <a ng-if="$ctrl.currentUser.hasProductOwnerRole"
                 ui-sref="auth.topicEdit({id: component.topic_id})">
                {{component.topic_name}}
              </a>
              <span ng-hide="$ctrl.currentUser.hasProductOwnerRole">
                {{component.topic_name}}
              </span>
            </td>
            <td>
              {{component.created_at | dciFromNow}}
            </td>
            <td class="text-center"
                ng-if="$ctrl.currentUser.hasProductOwnerRole">
              <button type="button"
                      class="btn btn-danger btn-sm"
                      ng-click="$ctrl.deleteComponent(component)">
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
