<job-menu job="$ctrl.job"></job-menu>
<div class="container-fluid pt-3">
  <div class="row" ng-if="$ctrl.job.results.length === 0">
    <div class="col-xs-12">
      There are no tests attached to this job
    </div>
  </div>
  <div ng-repeat="test in $ctrl.job.results | orderBy:'name'" ng-init="test.seeDetails = true">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="page-header">
          {{ test.name || 'Test'}}
          <small>
            (Duration: {{ test.time | msToSec }} sec)
            <span class="label label-primary">{{test.total}} tests</span>
            <span class="label label-success" ng-if="test.success">{{test.success}} success</span>
            <span class="label label-warning" ng-if="test.skips">{{test.skips}} skipped</span>
            <span class="label label-default" ng-if="test.errors">{{test.errors}} errors</span>
            <span class="label label-danger" ng-if="test.failures">{{test.failures}} failures</span>
          </small>
          <button type="button" class="btn btn-default btn-xs pull-right"
                  ng-click="test.seeDetails=!test.seeDetails"
                  ng-if="test.testscases">
            <span ng-if="!test.seeDetails"><i class="fa fa-chevron-down"></i>see details</span>
            <span ng-if="test.seeDetails"><i class="fa fa-chevron-up"></i>close details</span>
          </button>
        </h2>
      </div>
    </div>
    <div ng-if="test.seeDetails">
      <div class="row" ng-hide="test.total === test.success">
        <div class="col-xs-12 mb-3">
          Filter:
          <label class="checkbox-inline" ng-if="test.success">
            <input type="checkbox" ng-model="$ctrl.filters.passed"/>
            <span class="label label-success">Passed</span>
          </label>
          <label class="checkbox-inline" ng-if="test.skips">
            <input type="checkbox" ng-model="$ctrl.filters.skipped"/>
            <span class="label label-warning">Skipped</span>
          </label>
          <label class="checkbox-inline" ng-if="test.errors">
            <input type="checkbox" ng-model="$ctrl.filters.error"/>
            <span class="label label-default">Error</span>
          </label>
          <label class="checkbox-inline" ng-if="test.failures">
            <input type="checkbox" ng-model="$ctrl.filters.failure"/>
            <span class="label label-danger">Failure</span>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <table class="table table-condensed table-bordered">
            <thead>
            <tr>
              <th>Status</th>
              <th>Classname</th>
              <th>Name</th>
              <th class="text-right">Time</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat-start="testcase in test.testscases | filter: $ctrl.filterTestsCases($ctrl.filters)"
                ng-click="testcase.showDetails = !testcase.showDetails"
                ng-init="testcase.showDetails = false"
                ng-class="{'warning':testcase.action == 'skipped', 'danger':testcase.action == 'failure' || testcase.action == 'error' }">
              <td>
                <span ng-if="testcase.action == 'skipped'" class="label label-warning">Skip</span>
                <span ng-if="testcase.action == 'failure'" class="label label-danger">Failure</span>
                <span ng-if="testcase.action == 'error'" class="label label-default">Error</span>
                <span ng-if="testcase.action == 'passed'" class="label label-success">Pass</span>
              </td>
              <td>{{testcase.classname || testcase.name}}</td>
              <td>{{testcase.name}}</td>
              <td class="text-right">{{testcase.time}} ms</td>
            </tr>
            <tr ng-repeat-end
                ng-if="testcase.showDetails"
                ng-class="{'warning':testcase.action == 'skipped', 'danger':testcase.action == 'failure' || testcase.action == 'error' }">
              <td colspan=4>
                <b>Type:</b> {{ testcase.type}} <br>
                <b>Message:</b> {{ testcase.message}} <br>
                <b>Value:</b>
                <pre>{{ testcase.value}}</pre>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
