<h1 class="page-header">Team: {{ team.name }}</h1>
<div>
  <form name="teamForm" ng-submit="updateTeam()" novalidate>
    <div class="form-group"
         ng-class="{'has-error': showError(teamForm, teamForm.teamName)}">
      <label for="team-name" class="control-label">Name</label>
      <input type="text" class="form-control" id="team-name" name="teamName"
             ng-model="team.name" required>
    </div>
    <button type="submit" class="btn btn-default">Update</button>
    <button type="submit" class="btn btn-default">Cancel</button>
  </form>
</div>
