<h2 class="page-header">RemoteCIs list</h2>
<div class="remotecis-list">
  <div class="table-responsive">
    <table class="table table-striped">
      <tr><th>RemoteCI name</th><th>RemoteCI ID</th><th>Date</th><th>Actions</th></tr>
      <tr ng-repeat="remoteci in remotecis"><td>{{ remoteci.name }}</td><td>{{ remoteci.id }}</td><td>{{ remoteci.created_at }}</td><td><span class="btn glyphicon glyphicon-trash" ng-click="remove_remoteci(remoteci, $index)"></span></td></tr>
    </table>
  </div>
</div>
<h2 class="page-header">Create remote CI</h2>
<form name="remoteciForm" ng-submit="submitRemoteCI()" novalidate>
  <div class="form-group"
       ng-class="{'has-error': showError(remoteciForm, remoteciForm.remoteciName)}">
    <label for="remoteci-name" class="control-label">Name</label>
    <input type="text" class="form-control" id="remoteci-name" name="remoteciName"
           ng-model="remoteci.name" required>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
