<h1 class="page-header">Team: {{ team.name }}</h1>
<div>
  <form name="teamForm" ng-submit="update()" novalidate>
    <div class="form-group"
         ng-class="{'has-error': showError(teamForm, teamForm.name)}">
      <label for="team-name" class="control-label">Name</label>
      <input type="text" class="form-control" id="team-name" name="name"
             ng-model="team.name" required>
    </div>
    <div class="form-group"
         ng-class="{'has-error': showError(teamForm, teamForm.email)}">
      <label for="team-email" class="control-label">eMail</label>
      <input type="text" class="form-control" id="team-email" name="email"
             ng-model="team.email" required>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="team.notification"> Notification
      </label>
    </div>
    <button type="submit" class="btn btn-default">Update</button>
    <button type="button" ng-click="cancel()" class="btn btn-default">Cancel</button>
  </form>
</div>
