<h1 class="page-header">Topic: {{ obj.name }}</h1>
<div ng-controller="EditTopicCtrl">
  <form name="objForm" ng-submit="update()" novalidate>
    <div class="form-group"
         ng-class="{'has-error': showError(objForm, objForm.name)}">
      <label for="topic-name" class="control-label">Name</label>
      <input type="text" class="form-control" id="topic-name" name="name"
                                                              ng-model="obj.name" required>
    </div>
    <div class="row topic-teams" >
      <div class="col-md-6 col-sm-6">
        <table class="table table-striped">
          <thead><tr><th>Available teams</th></tr></thead>
          <tbody>
            <tr ng-repeat="team in obj.meta.teams">
              <td>
                <div>{{team.name}}
                  <button class="btn btn-primary pull-right" ng-click="add($index, team)">
                    +
                  </button>

                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-6 col-sm-6">
        <table class="table table-striped">
          <thead><tr><th>Topic teams</th></tr></thead>
          <tbody>
            <tr ng-repeat="team in obj.teams">
              <td>
                <div>
                  {{team.name}}
                  <button class="btn btn-primary pull-right" ng-click="remove($index, team)">
                    -
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <button type="submit" class="btn btn-default">Update</button>
    <button type="button" ng-click="cancel()"  class="btn btn-default">Cancel</button>
  </form>
</div>
