<h2 class="page-header">Topics list</h2>
<div class="topics-list">
  <div class="table-responsive">
    <table class="table table-striped">
      <tr><th>Topic name</th><th>Topic ID</th><th>Date</th><th>Actions</th></tr>
      <tr ng-repeat="topic in data.topics">
        <td>{{ topic.name }}</td>
        <td>{{ topic.id }}</td>
        <td>{{ topic.created_at }}</td>
        <td>
          <span class="btn glyphicon glyphicon-pencil" ng-click="removeTopic(topic, $index)">
          </span>
          <span class="btn glyphicon glyphicon-trash" ng-click="removeTopic(topic, $index)">
          </span>
        </td>
      </tr>
    </table>
  </div>
</div>
<h2 class="page-header">Create topic</h2>
<form name="topicForm" ng-submit="submitTopic()" novalidate>
  <div class="form-group"
       ng-class="{'has-error': showError(topicForm, topicForm.topicName)}">
    <label for="topic-name" class="control-label">Name</label>
    <input type="text" class="form-control" id="topic-name" name="topicName"
           ng-model="topic.name" required>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
