<h2 class="page-header">Users list</h2>
<div class="users-list">
  <div class="table-responsive">
    <table class="table table-striped">
      <tr>
        <th>Username</th><th>User ID</th><th>Team ID</th><th>Role</th><th>Date</th><th>Actions</th>
      </tr>
      <tr ng-repeat="user in data.users">
        <td>{{ user.name }}</td>
        <td>{{ user.id }}</td>
        <td>{{ user.team_id }}</td>
        <td>{{ user.role }}</td>
        <td>{{ user.created_at }}</td>
        <td>
          <span class="btn glyphicon glyphicon-pencil" ui-sref="edit.user({id: user.id})"></span>
          <span class="btn glyphicon glyphicon-trash" ng-click="removeUser(user, $index)"></span>
        </td>
      </tr>
    </table>
  </div>
</div>
<h2 class="page-header">Create user</h2>
<form name="userForm" ng-submit="submitUser()" novalidate>
  <div class="form-group"
   ng-class="{'has-error': showError(userForm, userForm.userName)}">
    <label class="control-label" for="user-name">Name</label>
    <input type="text" class="form-control" id="user-name" name="userName"
           ng-model="user.name" required>
  </div>
  <div class="form-group"
   ng-class="{'has-error': showError(userForm, userForm.userPassword)}">
    <label class="control-label" for="user-password">Password</label>
    <input type="password" class="form-control" id="user-password"
           name="userPassword" ng-model="user.password" required>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="role" ng-model-options="{ getterSetter: true }"> Admin
    </label>
  </div>
  <div class="form-group" ng-if="global_admin">
    <label for="user-team" class="control-label">Team</label>
    <select class="form-control" id="user-team" name="userTeam"
            ng-options="team.id as team.name for team in data.teams"
            ng-model="user.team_id">
    </select>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
