<h1 class="page-header">User: {{ obj.name }}</h1>
<div>
<form name="objForm" ng-submit="update()" novalidate>
  <div class="form-group"
   ng-class="{'has-error': showError(objForm, objForm.userName)}">
    <label class="control-label" for="user-name">Name</label>
    <input type="text" class="form-control" id="user-name" name="userName"
           ng-model="obj.name" required>
  </div>
  <div class="form-group"
   ng-class="{'has-error': showError(objForm, objForm.userPassword) || showError(objForm, objForm.userPasswordCompare)}">
    <label class="control-label" for="user-password">Password</label>
    <input type="password" class="form-control" id="user-password"
           name="userPassword" ng-model="obj.password">

    <label class="control-label" for="user-password-compare">
      Repeat Password <span ng-if="showError(objForm, objForm.userPasswordCompare)">(passwords are different)</span>
    </label>
    <input type="password" class="form-control" id="user-password-compare"
           name="userPasswordCompare" ng-model="password" compare-to="obj.password">
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="obj.role"> Admin
    </label>
  </div>
  <div class="form-group" ng-if="global_admin">
    <label for="user-team" class="control-label">Team</label>
    <select class="form-control" id="user-team" name="userTeam"
            ng-options="team.id as team.name for team in obj.meta.teams"
            ng-model="obj.team_id">
    </select>
  </div>
  <button type="submit" class="btn btn-default">Update</button>
  <button type="cancel" class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>
