<h2 class="page-header">Users list</h2>
<div class="users-list">
  <div class="row">
    <div class="col-md-4 col-md-offset-4" ng-if="!users.data">
      <div uib-progressbar class="progress-striped active" max="1" value="1">
      <i>Loading</i>
      </div>
    </div>
    <div class="col-md-12" ng-if="users.data && !users.data.length">
      <h3 class="bs-callout bs-callout-danger text-center">No users</h3>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-striped">
      <tr>
        <th>Username</th><th>User ID</th><th>Team ID</th><th>Role</th><th>Date</th><th>Actions</th>
      </tr>
      <tr ng-repeat="user in users.data | orderBy: 'name'">
        <td>{{ user.name }}</td>
        <td>{{ user.id }}</td>
        <td>{{ user.team_id }}</td>
        <td>{{ user.role }}</td>
        <td>{{ user.created_at }}</td>
        <td>
          <span class="btn glyphicon glyphicon-pencil" ui-sref="edit.user({id: user.id})"></span>
          <span class="btn glyphicon glyphicon-trash" ng-click="users.remove($index)"></span>
        </td>
      </tr>
    </table>
  </div>
</div>
<h2 class="page-header">Create user</h2>
<form name="users.form" ng-submit="users.submit(users.form)" novalidate>
  <div class="form-group"
   ng-class="{'has-error': showError(users.form, users.form.name)}">
    <label class="control-label" for="user-name">Name</label>
    <input type="text" class="form-control" id="user-name" name="name"
           ng-model="users.input.name" required>
  </div>
  <div class="form-group"
   ng-class="{'has-error': showError(users.form, users.form.password)}">
    <label class="control-label" for="user-password">Password</label>
    <input type="password" class="form-control" id="user-password"
           name="password" ng-model="users.input.password" required>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="role" ng-model-options="{ getterSetter: true }"> Admin
    </label>
  </div>
  <div class="form-group" ng-if="global_admin">
    <label for="user-team" class="control-label">Team</label>
    <select class="form-control" id="user-team" name="team"
            ng-options="team.id as team.name for team in teams.data"
            ng-model="users.input.team_id">
    </select>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
