<div class="row">
  <div class="col-xs-12">
    <h1 class="page-header">
      Audits
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <table class="table table-striped table-bordered table-hover">
      <thead>
      <tr>
        <th>Action</th>
        <th>User ID</th>
        <th>Team ID</th>
        <th>Date</th>
      </tr>
      </thead>
      <tr ng-if="$ctrl.audits.length === 0">
        <td colspan="4">
          There is no audit.
        </td>
      </tr>
      <tr ng-repeat="audit in $ctrl.audits">
        <td>{{ audit.action }}</td>
        <td>{{ audit.user_id }}</td>
        <td>{{ audit.team_id }}</td>
        <td>{{ audit.created_at | dciDate }}</td>
      </tr>
    </table>
  </div>
</div>
