<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div class="page-header">
        <h1>Create a new product</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <form ng-submit="$ctrl.create()">
          <div class="form-group">
            <label class="control-label" for="productName">Name</label>
            <input id="productName"
                   name="productName"
                   class="form-control"
                   ng-model="$ctrl.product.name"
                   required>
          </div>
          <div class="form-group">
            <label class="control-label" for="productLabel">Label</label>
            <input id="productLabel"
                   name="productLabel"
                   class="form-control"
                   ng-model="$ctrl.product.label" ng-change="$ctrl.product.label=$ctrl.product.label.toUpperCase();">
          </div>
          <div class="form-group">
            <label class="control-label" for="productDescription">Description</label>
            <input id="productDescription"
                   name="productDescription"
                   class="form-control"
                   ng-model="$ctrl.product.description"
                   required>
          </div>
          <div class="form-group">
              <label for="selectTeam" class="control-label">Team</label>
              <select id="selectTeam" name="selectTeam" class="form-control"
                     ng-model="$ctrl.product.team_id">
                 <option ng-repeat="team in $ctrl.teams" value="{{team.id}}">{{team.name}}</option>
              </select>
          </div>
        <button class="btn btn-primary">Create</button>
        <a class="btn btn-default btn-cancel" ui-sref="auth.products">Cancel</a>
      </form>
    </div>
  </div>
</div>
