<h1 class="page-header">Administration</h1>
<div class="col-md-12">
  <div tabset>
    <div tab heading="Users">
      <h2 class="page-header">Users list</h2>
      <div class="users-list">
        <div class="table-responsive">
          <table class="table table-striped">
            <tr><th>Username</th><th>User ID</th><th>Team ID</th><th>Role</th><th>Date</th><th>Actions</th></tr>
            <tr ng-repeat="user in users"><td>{{ user.name }}</td><td>{{ user.id }}</td><td>{{ user.team_id }}</td><td>{{ user.role }}</td><td>{{ user.created_at }}</td><td><span class="btn glyphicon glyphicon-trash" ng-click="remove_user()"></span></td></tr>
          </table>
        </div>
      </div>
      <h2 class="page-header">Create user</h2>
      <form name="userForm" ng-submit="submitUser()" novalidate>
  <!--       <div class="form&#45;group" -->
  <!--        ng&#45;class="{'has&#45;error': showError(userForm, userForm.userName)}"> -->
  <!--         <label class="control&#45;label" for="user&#45;name">Name</label> -->
  <!--         <input type="text" class="form&#45;control" id="user&#45;name" name="userName" -->
  <!--                ng&#45;model="user.name" required> -->
  <!--       </div> -->
  <!--       <div class="form&#45;group" -->
  <!--        ng&#45;class="{'has&#45;error': showError(userForm, userForm.userPassword)}"> -->
  <!--         <label class="control&#45;label" for="user&#45;password">Password</label> -->
  <!--         <input type="password" class="form&#45;control" id="user&#45;password" -->
  <!--                name="userPassword" ng&#45;model="user.password" required> -->
  <!--       </div> -->
  <!--       <div class="checkbox"> -->
  <!--         <label> -->
  <!--           <input type="checkbox" ng&#45;model="user.admin"> Admin -->
  <!--         </label> -->
  <!--       </div> -->
  <!--       <div class="form&#45;group"> -->
  <!--         <label for="user&#45;team" class="control&#45;label">Team</label> -->
  <!--         <select class="form&#45;control" id="user&#45;team" name="userTeam" -->
  <!--                 ng&#45;options="team.id as team.name for team in teams" -->
  <!--                 ng&#45;model="user.team"> -->
  <!--         </select> -->
  <!--       </div> -->
  <!--       <button type="submit" class="btn btn&#45;default">Submit</button> -->
      </form>
  <!--     <div class="alerts"> -->
  <!--       <div ng&#45;repeat="alert in alerts.user"> -->
  <!--         <div alert type="{{alert.type}}" close="closeAlert($index, 'user')"> -->
  <!--             {{alert.msg}} -->
  <!--         </div> -->
  <!--       </div> -->
  <!--     </div> -->
    </div>

    <div tab heading="Teams">
  <!--     <h2 class="page&#45;header">Teams list</h2> -->
  <!--     <div class="audit&#45;logs"> -->
  <!--       <div class="table&#45;responsive"> -->
  <!--         <table class="table table&#45;striped"> -->
  <!--           <tr><th>Team name</th><th>Team ID</th><th>Date</th><th>Actions</th></tr> -->
  <!--           <tr ng&#45;repeat="team in teams"><td>{{ team.name }}</td><td>{{ team.id }}</td><td>{{ team.created_at }}</td><td><button type="button" ng&#45;click="remove_team(teams, $index)"><span class="glyphicon glyphicon&#45;trash" aria&#45;hidden="true"></span></button></td></tr> -->
  <!--         </table> -->
  <!--       </div> -->
  <!--     </div> -->
  <!--     <h2 class="page&#45;header">Create team</h2> -->
  <!--     <form name="teamForm" ng&#45;submit="submitTeam()" novalidate> -->
  <!--       <div class="form&#45;group" -->
  <!--            ng&#45;class="{'has&#45;error': showError(teamForm, teamForm.teamName)}"> -->
  <!--         <label for="team&#45;name" class="control&#45;label">Name</label> -->
  <!--         <input type="text" class="form&#45;control" id="team&#45;name" name="teamName" -->
  <!--                ng&#45;model="team.name" required> -->
  <!--       </div> -->
  <!--       <button type="submit" class="btn btn&#45;default">Submit</button> -->
  <!--     </form> -->
  <!--     <div class="alerts"> -->
  <!--       <div ng&#45;repeat="alert in alerts.team"> -->
  <!--         <div alert type="{{alert.type}}" close="closeAlert($index, 'team')"> -->
  <!--           {{alert.msg}} -->
  <!--         </div> -->
  <!--       </div> -->
  <!--     </div> -->
    </div>

    <div tab heading="RemoteCIs">
  <!--     <h2 class="page&#45;header">RemoteCIs list</h2> -->
  <!--     <div class="audit&#45;logs"> -->
  <!--       <div class="table&#45;responsive"> -->
  <!--         <table class="table table&#45;striped"> -->
  <!--           <tr><th>RemoteCI name</th><th>RemoteCI ID</th><th>Date</th><th>Actions</th></tr> -->
  <!--           <tr ng&#45;repeat="remoteci in remotecis"><td>{{ remoteci.name }}</td><td>{{ remoteci.id }}</td><td>{{ remoteci.created_at }}</td><td><button type="button" ng&#45;click="remove_remoteci(remotecis, $index)"><span class="glyphicon glyphicon&#45;trash" aria&#45;hidden="true"></span></button></td></tr> -->
  <!--         </table> -->
  <!--       </div> -->
  <!--     </div> -->
  <!--     <h2 class="page&#45;header">Create remote CI</h2> -->
  <!--     <form name="teamForm" ng&#45;submit="submitRemoteCI()" novalidate> -->
  <!--       <div class="form&#45;group" -->
  <!--            ng&#45;class="{'has&#45;error': showError(remoteciForm, remoteciForm.remoteciName)}"> -->
  <!--         <label for="remoteci&#45;name" class="control&#45;label">Name</label> -->
  <!--         <input type="text" class="form&#45;control" id="remoteci&#45;name" name="remoteciName" -->
  <!--                ng&#45;model="remoteci.name" required> -->
  <!--       </div> -->
  <!--       <button type="submit" class="btn btn&#45;default">Submit</button> -->
  <!--     </form> -->
  <!--     <div class="alerts"> -->
  <!--       <div ng&#45;repeat="alert in alerts.remoteci"> -->
  <!--         <div alert type="{{alert.type}}" close="closeAlert($index, 'remoteci')"> -->
  <!--           {{alert.msg}} -->
  <!--         </div> -->
  <!--       </div> -->
  <!--     </div> -->
    </div>

    <div tab heading="Topics">
  <!--     <h2 class="page&#45;header">Topics list</h2> -->
  <!--     <div class="audit&#45;logs"> -->
  <!--       <div class="table&#45;responsive"> -->
  <!--         <table class="table table&#45;striped"> -->
  <!--           <tr><th>Topic name</th><th>Topic ID</th><th>Date</th><th>Actions</th></tr> -->
  <!--           <tr ng&#45;repeat="topic in topics"><td>{{ topic.name }}</td><td>{{ topic.id }}</td><td>{{ topic.created_at }}</td><td><button type="button" ng&#45;click="remove_topic(topics, $index)"><span class="glyphicon glyphicon&#45;trash" aria&#45;hidden="true"></span></button></td></tr> -->
  <!--         </table> -->
  <!--       </div> -->
  <!--     </div> -->
  <!--     <h2 class="page&#45;header">Create topic</h2> -->
  <!--     <form name="topicForm" ng&#45;submit="submitTopic()" novalidate> -->
  <!--       <div class="form&#45;group" -->
  <!--            ng&#45;class="{'has&#45;error': showError(topicForm, topicForm.topicName)}"> -->
  <!--         <label for="topic&#45;name" class="control&#45;label">Name</label> -->
  <!--         <input type="text" class="form&#45;control" id="topic&#45;name" name="topicName" -->
  <!--                ng&#45;model="topic.name" required> -->
  <!--       </div> -->
  <!--       <button type="submit" class="btn btn&#45;default">Submit</button> -->
  <!--     </form> -->
  <!--     <div class="alerts"> -->
  <!--       <div ng&#45;repeat="alert in alerts.topic"> -->
  <!--         <div alert type="{{alert.type}}" close="closeAlert($index, 'topic')"> -->
  <!--           {{alert.msg}} -->
  <!--         </div> -->
  <!--       </div> -->
  <!--     </div> -->
  <!--   </div> -->
  <!--  -->
  <!--   <div tab heading="Audit"> -->
  <!--     <h2 class="page&#45;header">Audit Logs</h2> -->
  <!--     <div class="audit&#45;logs"> -->
  <!--       <div class="table&#45;responsive"> -->
  <!--         <table class="table table&#45;striped"> -->
  <!--           <tr><th>Action</th><th>User ID</th><th>Team ID</th><th>Date</th></tr> -->
  <!--           <tr ng&#45;repeat="audit in audits"><td>{{ audit.action }}</td><td>{{ audit.user_id }}</td><td>{{ audit.team_id }}</td><td>{{ audit.created_at }}</td></tr> -->
  <!--         </table> -->
  <!--       </div> -->
  <!--     </div> -->
    </div>

  </div>
</div>

