<h1 class="page-header">Administration</h1>
<div class="col-md-12">
  <div tabset>
    <div tab heading="Users" select="go('^.users')" active="active.users">
      <div ng-include="'/partials/admin/users.html'"></div>
    </div>
    <div tab heading="Teams" ng-if="global_admin" select="go('^.teams')" active="active.teams">
      <div ng-include="'/partials/admin/teams.html'"></div>
    </div>
    <div tab heading="RemoteCIs" select="go('^.remotecis')" active="active.remotecis">
      <div ng-include="'/partials/admin/remotecis.html'"></div>
    </div>
    <div tab heading="Topics" ng-if="global_admin" select="go('^.topics')" active="active.topics">
      <div ng-include="'/partials/admin/topics.html'"></div>
    </div>
    <div tab heading="Audit" select="go('^.audits')" active="active.audits">
      <div ng-include="'/partials/admin/audits.html'"></div>
    </div>
  </div>
</div>

