<nav class="navbar navbar-default navbar-pf" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">
      <img src="images/logo.svg" alt="Distributed CI"/>
    </a>
  </div>
  <div class="collapse navbar-collapse navbar-collapse-1">
    <ul class="nav navbar-nav navbar-utility">
      <li>
        <a href="#">
          <i class="pficon pficon-user"></i> {{ user.name }} - {{ user.team.name }}
        </a>
      </li>
      <li>
        <a href="#" ng-click="logout()">
          Logout
        </a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-primary"
        ng-class="{'persistent-secondary': isAdminPage() || isJobPage()}">
      <li ui-sref-active="active" ng-if="!isJobPage()">
        <a ui-sref="jobs">
          Jobs
        </a>
      </li>
      <li ng-class="{active: isJobPage()}"
          ng-if="isJobPage()">
        <a ui-sref="job.results">
          Jobs
        </a>
        <ul class="nav navbar-nav navbar-persistent">
          <li ui-sref-active="active">
            <a id="jobResultsLink" ui-sref="job.results">Results</a>
          </li>
          <li ui-sref-active="active">
            <a id="jobLogsLink" ui-sref="job.logs">Logs</a>
          </li>
          <li ui-sref-active="active">
            <a id="jobDetailsLink" ui-sref="job.details">Details</a>
          </li>
          <li ui-sref-active="active">
            <a id="jobEditLink" ui-sref="job.edit">Edit job</a>
          </li>
          <li ui-sref-active="active">
            <a id="jobContextLink" ui-sref="job.context">Context</a>
          </li>
          <li ui-sref-active="active">
            <a id="jobStackdetailsLink" ui-sref="job.stackdetails">Stack Details</a>
          </li>
          <li ui-sref-active="active">
            <a id="jobIssuesLink" ui-sref="job.issues">Issues</a>
          </li>
          <li ui-sref-active="active">
            <a id="jobFilesLink" ui-sref="job.files">Files</a>
          </li>
        </ul>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="jobdefs">
          Job definitions
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="topics">
          Topics
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="logs">
          Search Logs
        </a>
      </li>
      <li ng-class="{active: isAdminPage()}"
          ng-if="admin || global_admin">
        <a ui-sref="adminUsers">
          Administration
        </a>
        <ul class="nav navbar-nav navbar-persistent">
          <li ng-class="{active: isUserPage()}">
            <a ui-sref="adminUsers">Users</a>
          </li>
          <li ng-class="{active: isTeamPage()}"
              ng-if="global_admin">
            <a ui-sref="adminTeams">Teams</a>
          </li>
          <li ng-class="{active: isTopicPage()}"
              ng-if="global_admin">
            <a ui-sref="adminTopics">Topics</a>
          </li>
          <li ng-class="{active: isRemoteCIPage()}">
            <a ui-sref="adminRemotecis">RemoteCIs</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="adminAudits">Audits</a>
          </li>
        </ul>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="globalStatus">
          Global Status
        </a>
      </li>
    </ul>
  </div>
</nav>
<div ui-view class="container-fluid main__content"></div>
