<nav class="navbar navbar-default navbar-pf" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">
      <img src="images/logo.svg" alt="Distributed CI"/>
    </a>
  </div>
  <div class="collapse navbar-collapse navbar-collapse-1">
    <ul class="nav navbar-nav navbar-utility">
      <li>
        <a href="#">
          <i class="pficon pficon-user"></i> {{ user.name }} - {{ user.team.name }}
        </a>
      </li>
      <li>
        <a href="#" ng-click="logout()">
          Logout
        </a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-primary">
      <li ui-sref-active="active">
        <a ui-sref="jobs">
          <i class="glyphicon glyphicon-home" aria-hidden="true"></i> Dashboard
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="jobdefs">
          Job definitions
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="topics">
          Topics
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="logs">
          Logs
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="adminUsers">
          Administration
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="information">
          Information
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="gpanel">
          Global Status
        </a>
      </li>
    </ul>
  </div>
</nav>
<div class="messages" data-dci-messages></div>
<div ui-view class="container"></div>
