<div>
  <div class="row row-cards-pf mt-5">
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="card-pf card-pf-accented card-pf-aggregate-status">
        <h2 class="card-pf-title">
          <i class="fa fa-server"></i>OSP 8
        </h2>
        <div class="card-pf-body">
          <p class="card-pf-aggregate-status-notifications">
            <span class="card-pf-aggregate-status-notification">
              <span class="pficon pficon-ok"></span> 175
            </span>
          </p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="card-pf card-pf-accented card-pf-aggregate-status">
        <h2 class="card-pf-title">
          <i class="fa fa-server"></i>OSP 9
        </h2>
        <div class="card-pf-body">
          <p class="card-pf-aggregate-status-notifications">
            <span class="card-pf-aggregate-status-notification">
              <span class="pficon pficon-ok"></span> 215
            </span>
          </p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="card-pf card-pf-accented card-pf-aggregate-status">
        <h2 class="card-pf-title">
          <i class="fa fa-server"></i>OSP 10
        </h2>
        <div class="card-pf-body">
          <p class="card-pf-aggregate-status-notifications">
            <span class="card-pf-aggregate-status-notification">
              <span class="pficon pficon-ok"></span> 250
            </span>
            <span class="card-pf-aggregate-status-notification">
              <span class="pficon pficon-error-circle-o"></span> 4
            </span>
            <span class="card-pf-aggregate-status-notification">
              <span class="pficon pficon-warning-triangle-o"></span> 1
            </span>
          </p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="card-pf card-pf-accented card-pf-aggregate-status">
        <h2 class="card-pf-title">
          <i class="fa fa-server"></i>OSP 11
        </h2>
        <div class="card-pf-body">
          <p class="card-pf-aggregate-status-notifications">
            <span class="card-pf-aggregate-status-notification">
              <span class="pficon pficon-ok"></span> 156
            </span>
            <span class="card-pf-aggregate-status-notification">
              <span class="pficon pficon-error-circle-o"></span> 45
            </span>
            <span class="card-pf-aggregate-status-notification">
              <span class="pficon pficon-warning-triangle-o"></span> 83
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div ng-repeat="job in $ctrl.jobs" dci-job></div>
</div>
