<h1 class="page-header">Global status for topic {{ topic.name }} of type {{ componentType }}</h1>
<table class="table table-striped">
  <tr>
    <th>Job Types</th>
    <th ng-repeat="jobdef in jobdefs">{{ jobdef.name }}</th>
  </tr>
  <tr ng-repeat="component in components">
    <td style="width:200px">{{ component.name }}</td>
    <td ng-repeat="jobdef in jobdefs">
      <ul class="list-inline">
        <li class="bs-callout" ng-class="'bs-callout-' + status[key].color" ng-repeat="(key, values) in (jobs[component.id][jobdef.id] || {'N/A': 0})">
          <div class="title">
            {{key}} ({{values}} jobs)
          </div>
          </li>
      </ul>
    </td>
  </tr>
</table>
