<div class="informations">
  <h1 class="page-header">Informations</h1>
  <div tabset>
      <div class="row">
        <h3 class="col-md-12 page-header">Teams
          <button type="button" class="btn btn-primary btn-xs pull-right"
            ng-click="collapses.team = !collapses.team">
            <span ng-if="collapses.team">
              see details
            </span>
            <span ng-if="!collapses.team">
              close details
            </span>
          </button>
        </h3>
        <div class="col-md-12" collapse="collapses.team">
          <table class="table table-striped">
            <tr ng-repeat="team in teams">
              <th>{{ team.name }}</th><td>{{ team.id }}</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="row">
        <h3 class="col-md-12 page-header">Remote CI
          <button type="button" class="btn btn-primary btn-xs pull-right"
            ng-click="collapses.remoteci = !collapses.remoteci">
            <span ng-if="collapses.remoteci">
              see details
            </span>
            <span ng-if="!collapses.remoteci">
              close details
            </span>
          </button>
        </h3>
        <div class="col-md-12" collapse="collapses.remoteci">
          <table ng-if="remotecis.length != 0"class="table table-striped">
            <tr ng-repeat="remoteci in remotecis">
              <th>{{ remoteci.name }}</th><td>{{ remoteci.id }}</td>
            </tr>
          </table>
          <div ng-if="remotecis.length == 0">No Remote CI attached to this team.</div>
        </div>
      </div>
      <div class="row">
        <h3 class="col-md-12 page-header">Topics
          <button type="button" class="btn btn-primary btn-xs pull-right"
            ng-click="collapses.topic = !collapses.topic">
            <span ng-if="collapses.topic">
              see details
            </span>
            <span ng-if="!collapses.topic">
              close details
            </span>
          </button>
        </h3>
        <div class="col-md-12" collapse="collapses.topic">
          <table ng-if="topics.length != 0"class="table table-striped">
            <tr ng-repeat="topic in topics">
              <th>{{ topic.name }}</th><td>{{ topic.id }}</td>
            </tr>
          </table>
          <div ng-if="topics.length == 0">This team is attached to no topic.</div>
        </div>
      </div>

  </div>
</div>
