<h1 class="page-header">Job Definitions</h1>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th class="text-center">Status</th>
      <th>Name</th>
      <th>ID</th>
      <th class="text-center">Created At</th>
      <th class="text-right">Priority</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat-start="jobdef in jobdefs | orderBy: 'name'" ng-click="jobdef.opened = !jobdef.opened">
      <td class="text-center">
        <span ng-if="jobdef.state == 'inactive'" class="label label-danger">Locked</span>
        <span ng-if="jobdef.state == 'active'" class="label label-success">Active</span>
      </td>
      <td>
        {{ jobdef.name }}
      </td>
      <td>{{ jobdef.id }}</td>
      <td class="text-center">{{ jobdef.created_at_formatted }}</td>
      <td class="text-right">{{ jobdef.priority }}</td>
    </tr>
    <tr ng-repeat-end>
      <td colspan="12">
        <div ng-if="jobdef.comment"><label>Comment:</label> {{ jobdef.comment || "No comment" }}</div>
        <div><label>Associated Test(s):</label><br/>
        <div ng-if="jobdef.tests.length == 0">No test associated with this job definition<br/></div>
        <table ng-if="jobdef.tests.length != 0" class="table table-condensed">
            <thead>
              <tr>
                <th>Name</th>
                <th>Data</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="test in jobdef.tests | orderBy: '-name'">
                  <td>{{test.name}}</td>
                  <td><div json-formatter json="test.data" open="1"></div></td>
              </tr>
        </table>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div class="pagination">
  <div uib-pagination total-items="pagination.total" max-size="5"
    ng-model="pagination.page" class="pagination-sm" boundary-links="true"
    rotate="false" items-per-page="20" ng-change="pagination.pageChanged()">
  </div>
</div>
