<h1 class="page-header">Jobs</h1>
<div class="filtering">
  <div class="col-md-4 col-md-offset-8 col-sm-offset-6 col-sm-6 col-xs-offset-3 col-xs-9">
    <button class="btn btn-default btn-block" ng-click="collapse = !collapse">
      <div class="glyphicon pull-right"
        ng-class="{'glyphicon-menu-down': collapse, 'glyphicon-menu-up': !collapse}">
      </div>
      Search
    </button>
  </div>
  <div class="row">
    <div uib-collapse="collapse">
      <form ng-submit="search()" class="col-md-6">
        <div class="form-group">
          <h4>Status</h4>
          <label ng-repeat="(key, _) in status" class="checkbox-inline">
            <input ng-model="status[key]" type="checkbox"/>
            {{key}}
          </label>
        </div>
        <div class="form-group">
          <h4> RemoteCI </h4>
          <div class="col-md-8 col-md-offset-2" ng-if="!remotecis">
            <div uib-progressbar class="progress-striped active" max="1" value="1">
              <i>Loading</i>
            </div>
          </div>
          <h3 ng-if="remotecis && !remotecis.length"
              class="bs-callout bs-callout-danger text-center">
            No remote CI
          </h3>

          <label ng-repeat="remoteci in remotecis" class="checkbox-inline">
            <input ng-model="remoteci.search" type="checkbox"/>
            {{remoteci.name}}
          </label>
        </div>
        <button ng-if="remotecis" type="submit" class="btn btn-primary col-md-6">
          Apply
        </button>
      </form>
      <form ng-submit="retrieveLogs()" class="col-md-6">
        <div class="form-group">
          <label class="h4" for="patternSearch">Log search</label>
          <input type="input" class="form-control" id="patternSearch" ng-model="pattern" placeholder="search pattern">
        </div>
        <div class="form-group invisible">
          <input type="input" class="form-control">
        </div>

        <button type="submit" class="btn btn-primary col-md-6">
          Search
        </button>
      </form>

    </div>
  </div>
</div>
<div ng-repeat="job in jobs" dci-job></div>

<div class="pagination" ng-if="pagination">
  <div uib-pagination total-items="pagination.total" max-size="5"
    ng-model="pagination.page" class="pagination-sm" boundary-links="true"
    rotate="false" items-per-page="20" ng-change="pagination.pageChanged()">
  </div>
</div>
