<div class="login">
  <div class="container">
    <div class="row">
      <h2 class="col-md-8 page-header">Distributed CI
        <img class="pull-right" src="images/redhat.png">
      </h2>
    </div>
    <div class="row">
      <form class="col-md-4" ng-submit="authenticate(credentials)">

        <div class="form-group">
          <label for="inputLogin" class="sr-only">Login</label>

          <input type="login" ng-model="credentials.username"
          name="userName" id="inputLogin" class="form-control"
          placeholder="Login" required autofocus>
        </div>
        <div class="form-group">
          <label for="inputPassword" class="sr-only">Password</label>

          <input type="password" ng-model="credentials.password"
          id="inputPassword" class="form-control"
          placeholder="Password" required>
        </div>
        <p ng-class="{invisible: !err}">
        <span class="text-danger glyphicon glyphicon-remove"></span>
        <span ng-if="err._status == 'Unauthorized'">Login or/and Password Incorrect</span>

        <!-- This is here for debugging unexpected errors -->
        <span ng-if="err._status != 'Unauthorized'">{{ err }}</span>
        </p>
        <button class="btn btn-primary pull-right" type="submit">Sign in</button>

      </form>

      <p class="text-danger" ng-if="unauthorized">
      Login or/and Password Incorrect
      </p>
      <p class="text-danger" ng-if="error">
      {{ error }}
      </p>
    </div>
  </div>
</div>
