<h1 class="page-header">Components of {{ topic.name }}</h1>
<h2>Type</h2>
<uib-accordion close-others="true">
  <uib-accordion-group ng-repeat="(type, components) in componentsByTopic" is-open="opened">
    <uib-accordion-heading>{{ type }}
      <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': opened, 'glyphicon-chevron-right': !opened}"></i>
    </uib-accordion-heading>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>ID</th>
            <th class="text-center">Created At</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat-start="c in components"
            ng-click="c.opened = !c.opened">
            <td>{{ c.name }}</td>
            <td>{{ c.id }}</td>
            <td class="text-center">{{ c.created_at }}</td>
          </tr>
          <tr ng-repeat-end ng-if="c.opened">
            <td colspan="4">
              <div class="form-group">
                <label>Title</label><input type="text" class="form-control" value="{{ c.title }}" readonly/>
              </div>
              <div class="form-group">
                <label>Data</label><textarea class="form-control" readonly>{{ c.data }}</textarea>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </uib-accordion-group>
</uib-accordion>

<h2>Create new component</h2>
<form name="createComponent" ng-submit="create()" novalidate>
  <input type="hidden" ng-model="c.topic_id" ng-init="c.topic_id=topic.id"/>
  <div class="form-group">
    <label>Name</label><input class="form-control" type="text" ng-model="c.name"/>
  </div>
  <div class="form-group">
    <label>Type</label><input type="text" class="form-control" ng-model="c.type" />
  </div>
  <div class="form-group">
    <label>Data</label><textarea class="form-control" ng-model="c.data"></textarea>
  </div>
  <div class="form-group">
    <label>Sha</label><textarea class="form-control" ng-model="c.sha"></textarea>
  </div>
  <div class="form-group">
    <label>Message</label><textarea class="form-control" ng-model="c.message"></textarea>
  </div>
  <div class="form-group">
    <label>URL</label><textarea class="form-control" ng-model="c.url"></textarea>
  </div>
  <div class="form-group">
    <label>Git</label><textarea class="form-control" ng-model="c.git"></textarea>
  </div>
  <div class="form-group">
    <label>Ref</label><textarea class="form-control" ng-model="c.ref"></textarea>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-default">Update</button>
    <button type="cancel" class="btn btn-default" ng-click="cancel()">Cancel</button>
  </div>
</form>
