<h1 class="page-header">Components</h1>

<ol class="breadcrumb">
  <li><a ui-sref="topics">Home</a></li>
  <li class="active">Topic: {{topic.name}}</li>
</ol>

<uib-accordion close-others="true">
  <div uib-accordion-group ng-repeat="(type, components) in componentsByTopic" is-open="opened">
    <uib-accordion-heading>{{ type }}
      <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': opened, 'glyphicon-chevron-right': !opened}"></i>
    </uib-accordion-heading>
    <div class="table-responsive">
      <table class="table table-condensed">
        <thead>
          <tr>
            <th class="text-center" ng-if="global_admin">Export Control</th>
            <th>Name</th>
            <th>ID</th>
            <th class="text-center">Created At</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat-start="c in components | orderBy: '-created_at'"
            ng-click="c.opened = !c.opened">
            <td class="text-center" ng-if="global_admin">
              <span ng-if="!c.export_control" class="label label-danger">Not Allowed</span>
              <span ng-if="c.export_control" class="label label-success">Allowed</span>
            </td>
            <td>{{ c.name }}</td>
            <td>{{ c.id }}</td>
            <td class="text-center">{{ c.created_at_formatted }}</td>
          </tr>
          <tr ng-repeat-end ng-if="c.opened">
            <td colspan="4">
                <div><label>Files</label><br/>
                    <table ng-if="c.files.length != 0" class="table table-condensed">
                        <thead>
                          <tr>
                            <th>Name</th>
                            <th>Mime</th>
                            <th>Size</th>
                            <th>Download</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-repeat="file in c.files | orderBy: '-created_at'">
                              <td>{{file.name}}</td>
                              <td>{{file.mime}}</td>
                              <td>{{file.size}} Bytes</td>
                              <td>
                                  <a ng-href="{{file.dl_link}}">
                                      <span class="glyphicon glyphicon-download-alt"></span> download
                                  </a>
                              </td>
                          </tr>
                    </table>
                    <span ng-if="c.files.length == 0" class="label label-danger">No Files</span>
                </div>
              <form ng-show="global_admin" name="objForm" ng-submit="update(c)" novalidate>
                <input type="hidden" ng-model="c.id" ng-init="c.id=c.id"/>
                <input type="hidden" ng-model="c.topic_id" ng-init="c.topic_id=topic.id"/>
                <div class="form-group"><label>Name</label>
                  <input class="form-control" type="text" ng-model="c.name" required/>
                </div>
                <div class="form-group"><label>Type</label>
                  <input type="text" class="form-control" ng-model="c.type" required/>
                </div>
                <div class="form-group"><label>Canonical Project Name</label>
                  <textarea class="form-control" ng-model="c.canonical_project_name"></textarea>
                </div>
                <div class="form-group"><label>Data</label>
                  <textarea class="form-control" ng-model="c.data"></textarea>
                </div>
                <div class="form-group"><label>Title</label>
                  <textarea class="form-control" ng-model="c.title"></textarea>
                </div>
                <div class="form-group"><label>Message</label>
                  <textarea class="form-control" ng-model="c.message"></textarea>
                </div>
                <div class="form-group"><label>URL</label>
                  <textarea class="form-control" ng-model="c.url"></textarea>
                </div>
                <div class="form-group"><label>Export Control</label><br/>
                  <label> <input type="radio" ng-model="c.export_control" ng-value=true>Allowed</label>
                  <label> <input type="radio" ng-model="c.export_control" ng-value=false>Not Allowed</label>
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-default">Update</button>
                  <button type="cancel" class="btn btn-default" ng-click="cancel()">Cancel</button>
                </div>
               <input type="hidden" ng-model="target.topic_id"/>
              </form>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</uib-accordion>

<h2 ng-show="global_admin">Create new Component
<button ng-click="showCreateForm = !showCreateForm" class="btn btn-default glyphicon glyphicon-plus-sign" title="Create new component"></button>
</h2>

<div ng-show="showCreateForm">
<form name="createComponent" ng-submit="create()" novalidate>
  <input type="hidden" ng-model="c.topic_id" ng-init="c.topic_id=topic.id"/>
  <div class="form-group"><label>Name</label>
    <input class="form-control" type="text" ng-model="c.name" required/>
  </div>
  <div class="form-group"><label>Type</label>
    <input type="text" class="form-control" ng-model="c.type" required/>
  </div>
  <div class="form-group"><label>Canonical Project Name</label>
    <textarea class="form-control" ng-model="c.canonical_project_name"></textarea>
  </div>
  <div class="form-group"><label>Data</label>
    <textarea class="form-control" ng-model="c.data"></textarea>
  </div>
  <div class="form-group"><label>Title</label>
    <textarea class="form-control" ng-model="c.title"></textarea>
  </div>
  <div class="form-group"><label>Message</label>
    <textarea class="form-control" ng-model="c.message"></textarea>
  </div>
  <div class="form-group"><label>URL</label>
    <textarea class="form-control" ng-model="c.url"></textarea>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-default">Create</button>
    <button type="cancel" class="btn btn-default" ng-click="cancel()">Cancel</button>
  </div>
</form>
</div>
