<h1 class="page-header">Topics</h1>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Name</th>
      <th>ID</th>
      <th class="text-center">Created At</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="tt in topics">
      <td>
        <a ui-sref="topic({id: tt.id})" class="title">{{ tt.name }}</a>
      </td>
      <td>{{ tt.id }}</td>
      <td class="text-center">{{ tt.created_at }}</td>
    </tr>
    </tbody>
  </table>
</div>

<div class="pagination">
  <div pagination total-items="pagination.total" max-size="5"
    ng-model="pagination.page" class="pagination-sm" boundary-links="true"
    rotate="false" items-per-page="20" ng-change="pagination.pageChanged()">
  </div>
</div>
