<div class="container-fluid bg-grey full-height">
  <title-card title="Edit team {{$ctrl.team.name}}"></title-card>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card-pf">
        <div class="card-pf-body">
          <form ng-submit="$ctrl.update()">
            <admin-team-form team="$ctrl.team"></admin-team-form>
            <button class="btn btn-primary">Update</button>
            <a class="btn btn-default btn-cancel" ui-sref="auth.adminTeams">Cancel</a>
          </form>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4" ng-if="$ctrl.currentUser.hasProductOwnerRole">
      <div class="card-pf">
        <div class="card-pf-body">
          <label>Team's topics</label>
          <span class="ml-3">
            <label for="searchInTeamsTopics">
              <i class="fa fa-search"></i>
            </label>
            <input id="searchInTeamsTopics" type="search" style="border: none" ng-model="$ctrl.searchInTeamsTopics">
          </span>
          <table class="table table-striped table-bordered table-hover">
            <tr ng-repeat="topic in $ctrl.team.topics | orderBy: 'name' | filter: $ctrl.searchInTeamsTopics">
              <td>{{topic.name}}</td>
              <td class="text-center" style="width: 50px">
                <button type="button" class="btn btn-danger btn-sm" ng-click="$ctrl.removeTopicFromTeam(topic, $ctrl.team)">
                  <i class="fa fa-minus"></i>
                </button>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4" ng-if="$ctrl.currentUser.hasProductOwnerRole">
      <div class="card-pf">
        <div class="card-pf-body">
          <label>Topics available</label>
          <span class="ml-3">
            <label for="searchInAvailableTopics">
              <i class="fa fa-search"></i>
            </label>
            <input id="searchInAvailableTopics" type="search" style="border: none" ng-model="$ctrl.searchInAvailableTopics">
          </span>
          <table class="table table-striped table-bordered table-hover">
            <tr ng-repeat="topic in $ctrl.team.availableTopics | orderBy: 'name' | filter: $ctrl.searchInAvailableTopics">
              <td>{{topic.name}}</td>
              <td class="text-center" style="width: 50px">
                <button type="button" class="btn btn-primary btn-sm" ng-click="$ctrl.associateTopicToTeam(topic, $ctrl.team)">
                  <i class="fa fa-plus"></i>
                </button>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>