@import "bootstrap/variables";

$navbar-inverse-link-active-bg: $brand-primary;
$navbar-side-size: 200px;

$arrow-size: 15px;

@import "bootstrap";

body {
  margin-left: $navbar-side-size;
}

pre {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.tab-content {
  margin-top: 20px;
}

.navbar {
  .navbar-brand {
    float: none;
    display: block;
    height: initial;
    margin-bottom: 50px;
  }
}

.navbar-fixed-left,
.navbar-fixed-right {
  position: fixed;
  top: 0;
  bottom: 0;
  margin-bottom: 0;
  border-width: 0;
  width: $navbar-side-size;

  .navbar-nav > .active > a:after {
    width: 0;
    height: 0;
    content: " ";
    border-top: $arrow-size solid transparent;
    border-bottom: $arrow-size solid transparent;
    position: absolute;
    top: 10px;
    border-right: $arrow-size solid $body-bg;
  }

  .glyphicon {
    margin: 0 15px 0 10px;
  }

  @media (min-width: $grid-float-breakpoint) {
    border-radius: 0;

    .navbar-header, .navbar-nav, .navbar-nav > li  {
      float: none;
    }

  }
}

.navbar-fixed-left {
  left: 0;
  .navbar-nav > .active > a:after {
    right: 0;
  }
}

.navbar-fixed-right {
  right: 0;
  .navbar-nav > .active > a:after {
    left: 0;
  }
}

.checkbox-inline {
  margin-right: 15px;

  & + .checkbox-inline {
    margin-left: 0;
  }
}

.bs-callout {
  padding: 15px;
  margin: 20px 0;
  border: 1px solid $btn-default-border;
  border-left-width: 5px;
  border-radius: 3px;

  & + .bs-callout {
    margin-top: -5px;
  }
}

@each $name, $color in
(primary, $brand-primary), (success, $brand-success), (info, $brand-info),
(warning, $brand-warning), (danger, $brand-danger) {
  .bs-callout-#{$name} {
    border-left-color: $color;

    .title {
      color: $color
    }

    a.title:hover {
      color: darken($color, 15%)
    }
  }
}

.job {
  .glyphicon-repeat, .glyphicon-minus-sign {
    margin-top: 5px;
    font-size: 18px;
    border-radius: 50%;
    padding: 8px 12px;
  }
}

.user {
  margin-bottom: 50px;

  & li:first-child  {
    text-align: center;
    cursor: default;
    & > a:hover, & > a:focus {
      color: $navbar-inverse-link-color;
    }
  }
}

.filtering {
  margin-bottom: 50px;
  .glyphicon {
    margin-top: 1px;
  }
}

/*!
 * jsonformatter
 */


.json-formatter-row {
  font-family: monospace;

  &, a, a:hover {
    color: black;
    text-decoration: none;
  }

  .json-formatter-row {
    margin-left: 1em;
  }

  .children.empty {
    opacity: 0.5;
    margin-left: 1em;

    &.object:after {
      content: "No properties";
    }
    &.array:after {
      content: "[]";
    }
  }

  .string {
    color: $brand-success;
    white-space: pre;
    word-wrap: break-word;
  }

  .number {
    color: $brand-info;
  }
  .null {
    color: $brand-warning;
  }

  .boolean {
    color: $brand-danger;
  }
  .key {
    color: $brand-primary;
    cursor: pointer;
  }
  .toggler {
    font-size: 0.8em;
    line-height: 1.2em;
    vertical-align: middle;
    opacity: 0.6;
    cursor: pointer;

    &:after {
      display: inline-block;
      transition: transform 100ms ease-in;
      content: "►";
    }
    &.open:after {
      transform: rotate(90deg);
    }
  }

  & > a > .thumbnail-text {
    opacity: 0;
    transition: opacity 0.15s ease-in;
    font-style: italic;
  }

  &:hover > a > .thumbnail-text {
    opacity: 0.6;
  }
  .constructor-name {
    cursor: pointer;
  }
}
