@import "bootstrap/variables";

$redhat-color                  : #cb2026;
$table-bg-accent               : $gray-lighter;

$arrow-size                    : 15px;
$table-bg-hover                : $gray-lighter;

@import "rcue/dist/css/rcue";
@import "rcue/dist/css/rcue-additions";
@import "jsonformatter/dist/json-formatter.min";

@import "ui-select/dist/select";
@import "spacing";

.glyphicon--button {
  cursor: pointer;
}

pre {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.tab-content {
  margin-top: 20px;
}

.app .app__ui-view{
  height: 100%;
}

.login-pf{
  height: 100vh;
}

.login--brand{
  font-size: 2.2em;
}

.login--background-dark {
  color: white;
  background: url(/images/bg-login.jpg) no-repeat center center fixed;
  background-size: cover;
}

a.panel-heading {
  display: block;
}

.checkbox-inline {
  margin-right: 15px;

  & + .checkbox-inline {
    margin-left: 0;
  }
}

.bs-callout {
  padding: 15px;
  margin: 20px 0;
  border: 1px solid $btn-default-border;
  border-left-width: 5px;
  border-radius: 3px;

  & + .bs-callout {
    margin-top: -5px;
  }
}


.messages {
  position: fixed;
  z-index: 9999;
  top: 20px;
  right: 20px;
  width: 400px;
}

@each $name, $color in
(primary, $brand-primary), (success, $brand-success), (info, $brand-info),
(warning, $brand-warning), (danger, $brand-danger) {
  .bs-callout-#{$name} {
    border-left-color: $color;

    .title {
      color: $color;
    }
    a.title:hover {
      color: darken($color, 15%)
    }
  }

  .card-pf-#{$name} {
    border-top: 5px solid $color;
  }
}

.job {
  .glyphicon-repeat, .glyphicon-minus-sign {
    margin-top: 5px;
    font-size: 18px;
    border-radius: 50%;
    padding: 8px 12px;
  }

  .text-muted {
    padding: 15px 0 0 0;
  }
  .close {
    margin-right: -20px;
    margin-top: -10px;
  }
}

.glyphicon-plus-sign {
    margin-top: 5px;
    font-size: 18px;
    border-radius: 50%;
    padding: 2px 6px;
}

.user {
  margin: 50px 0 50px 0;
}

.filtering {
  margin-bottom: 50px;
  .glyphicon {
    margin-top: 1px;
  }
}

.alerts {
  margin-top: 50px;
}

.topic-teams {
  td div {
    padding: 8px;
    button {
      margin: -7px;
    }
  }
}

