<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="page-header">
        Topics
        <a class="pull-right btn btn-primary"
           id="admin__create-topic-btn"
           ui-sref="auth.adminTopicCreate">
          <i class="fa fa-plus-circle"></i> create new topic
        </a>
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <dci-loading ng-if="$ctrl.topics.isFetching"></dci-loading>
      <div ng-hide="$ctrl.topics.isFetching">
        <div class="row">
          <div class="col-xs-12">
            <table class="table table-striped table-bordered table-hover">
              <thead>
              <tr>
                <th>Topic name</th>
                <th>ID</th>
                <th>Next Topic</th>
                <th>Product</th>
                <th>Created At</th>
                <th class="text-center">Actions</th>
              </tr>
              </thead>
              <tr ng-if="$ctrl.topics.items.length === 0">
                <td colspan="6">
                  There is no topic.
                  <a ui-sref="auth.adminTopicCreate">Do you want to create one?</a>
                </td>
              </tr>
              <tr ng-repeat="topic in $ctrl.topics.items | orderBy: 'name'">
                <td>
                  <a ui-sref="auth.adminTopicEdit({id: topic.id})">
                    {{topic.name}}
                  </a>
                </td>
                <td>{{topic.id}}</td>
                <td>
                  <a ui-sref="auth.adminTopicEdit({id: topic.next_topic})">
                    {{topic.next_topic}}
                  </a>
                </td>
                <td>{{topic.product.name}}</td>
                <td>{{topic.created_at | dciDate}}</td>
                <td class="text-center">
                  <a class="btn btn-primary btn-sm btn-edit"
                     ui-sref="auth.adminTopicEdit({id: topic.id})">
                    <i class="fa fa-pencil"></i>
                  </a>
                  <button type="button"
                          class="btn btn-danger btn-sm"
                          ng-click="$ctrl.deleteTopic(topic)">
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
