<div class="bs-callout container-fluid job row" ng-class="job.statusClass">
  <div class="col-md-4">
    <a ui-sref="job.results({id: job.id})" class="title">
      {{job.remoteci.name}} / {{job.jobdefinition.name}}
    </a>
    <div class="text-muted hidden-xs hidden-sm" ng-if="job.comment && !job.detail">
      "{{job.comment | limit:75:"..." }}"
    </div>
    <div class="text-muted" ng-if="job.comment && job.detail">
      "{{job.comment}}"
    </div>
  </div>
  <div class="col-md-3">
    <div class="title">
      Tests
    </div>
    <div class="text-muted" ng-repeat="test in job.jobdefinition.tests">
      {{test.name}} : <span ng-if="!test.result">No results</span><span ng-if="test.result"><span
      class="label label-success">{{test.result.success}}</span> <span
      class="label label-warning">{{test.result.skips}}</span> <span
      class="label label-default">{{test.result.errors}}</span> <span class="label label-danger">{{test.result.failures}}</span></span>
    </div>
  </div>
  <div class="col-md-4">
    <div class="title">
      <span class="glyphicon" ng-class="job.glyphicon"></span> {{job.status}}
    </div>
    <div title="Test last run">
      <span class="glyphicon glyphicon-calendar"></span> {{job.created_at | dciDate}}
    </div>
    <div title="Test running time">
      <span ng-if="job.status == 'success' ||
                   job.status == 'failure' ||
                   job.status == 'killed'">
        <span class="glyphicon glyphicon-time"></span> ran for {{job.updated_at | amDifference : job.created_at : 'minute' | amDurationFormat : 'minute'}}
      </span>
      <span ng-if="job.status != 'success' &&
                   job.status != 'failure' &&
                   job.status != 'killed'">
        <span class="glyphicon glyphicon-time"></span> running since {{job.created_at | amCalendar:referenceTime:formats}}
      </span>
    </div>
    <div>
      <span class="glyphicon glyphicon-info-sign"></span> {{ job.user_agent }} ({{job.client_version}})
    </div>
  </div>
  <div class="col-md-1">
    <div class="btn-toolbar" role="toolbar">
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default btn-recheck" title="Recheck job"
                ng-click="recheck()" ng-disabled="job.recheck">
          <i class="fa fa-repeat" aria-hidden="true"></i>
        </button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-danger" title="Delete job"
                ng-click="deleteJob()">
          <i class="fa fa-trash" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
</div>
