<div class="bs-callout container-fluid job row" ng-class="job.statusClass">
  <div class="col-md-4">
    <a ui-sref="job.results({id: job.id})"  class="title">
      {{job.remoteci.name}} / {{job.jobdefinition.name}}
    </a>
    <div class="text-muted hidden-xs hidden-sm" ng-if="job.comment && !job.detail">
      "{{job.comment | limit:75:"..." }}"
    </div>
    <div class="text-muted" ng-if="job.comment && job.detail">
      "{{job.comment}}"
    </div>
  </div>
  <div class="col-md-3">
    <div class="title">
      Tests
    </div>
    <div class="text-muted" ng-repeat="test in job.jobdefinition.tests">
      {{test.name}} : <span ng-if="!test.result">No results</span><span ng-if="test.result"><span class="label label-success">{{test.result.success}}</span> <span class="label label-warning">{{test.result.skips}}</span> <span class="label label-default">{{test.result.errors}}</span> <span class="label label-danger">{{test.result.failures}}</span></span>
    </div>
  </div>
  <div class="col-md-4">
    <div class="title">
      <span class="glyphicon" ng-class="job.glyphicon"></span> {{job.status}}
    </div>
    <div title="Test last run">
      <span class="glyphicon glyphicon-calendar"></span> {{job.created_at}}
    </div>
    <div title="Test running time">
      <span ng-if="job.status == 'success' ||
                   job.status == 'failure' ||
                   job.status == 'killed'">
        <span class="glyphicon glyphicon-time"></span> ran for {{job.time_running}}
      </span>
      <span ng-if="job.status != 'success' &&
                   job.status != 'failure' &&
                   job.status != 'killed'">
        <span class="glyphicon glyphicon-time"></span> running since {{job.time_running}}
      </span>
    </div>
    <div>
        <span class="glyphicon glyphicon-info-sign"></span> {{ job.user_agent }} ({{job.client_version}})
    </div>
  </div>
  <div class="col-md-1">
    <button type="button" class="close" ng-click="remove_job(jobs, $index)">
      <span aria-hidden="true">×</span>
      <span class="sr-only">Close</span>
    </button>
    <a class="btn btn-default glyphicon glyphicon-minus-sign"
      disabled="disabled" ng-if="job.recheck" title="Job currently rechecking">
    </a>
    <a class="btn btn-default glyphicon glyphicon-repeat" title="Recheck job"
      ng-click="recheck()" ng-if="!job.recheck">
    </a>
  </div>
</div>
