.pf-masthead {
  background-color: #030303;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}


.pf-masthead__menu {
  height: 60px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  border-top: 1px solid #292e34;
}

.pf-masthead__item {
  flex: 1 1 0;
}

.pf-masthead__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-left: 1px solid #292e34;
  color: #fff;
  text-decoration: none;
}

.pf-masthead__link:hover {
  color: #fff;
  text-decoration: none;
  background-color: #292e34;
}

.pf-masthead__item:first-child .pf-masthead__link {
  border-left: none;
}

.pf-masthead__icon {
  display: block;
}

.pf-masthead__link-value {
  display: block;
}

@media (min-width: 768px) {
  .pf-masthead {
    flex-direction: row;
    justify-content: flex-end;
  }
  .pf-masthead__item {
    flex-basis: auto;
  }
  .pf-masthead__link {
    padding: 1em 2em;
  }
  .pf-masthead__menu {
    border-top: none;
  }
  .pf-masthead__item:first-child .pf-masthead__link {
    border-left: 1px solid #292e34;
  }
}
