@import "variables";

.pf-sidebar {
  grid-area: sidebar;
}

.pf-content {
  grid-area: content;
}

.pf-header {
  grid-area: header;
}

.pf-grid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto 1fr;
  grid-template-areas:
    "header"
    "sidebar"
    "content";
  height: 100vh;
}

@media (min-width: 480px) {
  .pf-grid {
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "header header"
      "sidebar content";
  }
}
